workflows/d9H2VpgreI4Nvauk.json
{
  "active": false,
  "connections": {
    "Link drive folder chứa video1": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [
          {
            "node": "Filter3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add picture demo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add picture demo1": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter3": {
      "main": [
        [
          {
            "node": "Google Sheets6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mỗi ngày 1 lần": {
      "main": [
        [
          {
            "node": "Link drive folder chứa video1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Loop Over Items5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items5": {
      "main": [
        [],
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Loop Over Items5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets14": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets6": {
      "main": [
        [
          {
            "node": "Google Sheets14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-31T19:08:50.355Z",
  "id": "d9H2VpgreI4Nvauk",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[EMME] Viết Bài đăng Reels FB",
  "nodes": [
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "=https://drive.google.com/drive/folders/1uu-Qxu4biw9VT_qb-2nEPB4uAjZjBAuR",
            "mode": "url"
          }
        },
        "options": {
          "fields": [
            "*"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -520,
        -80
      ],
      "id": "032ba5ef-3097-4cad-ab95-b1ae946bdbc4",
      "name": "Link drive folder chứa video1",
      "retryOnFail": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ffj1ktwFjvbRQW9V",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -160,
        -80
      ],
      "id": "521e0fcb-e2c3-465d-b550-1c6149fee8c8",
      "name": "Loop Over Items3"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"Ảnh nền\": \"=IMAGE(\\\"{{ $('Link drive folder chứa video1').item.json.thumbnailLink }}\\\";4;50;50)\",\n  \"Link video\": \"{{ $('Link drive folder chứa video1').item.json.webViewLink }}\",\n  \"Ngày đăng\": \"{{ $('Date & Time').item.json['Ngày cập nhật driver'] }}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        -80
      ],
      "id": "e87ebcd7-2090-4a9b-83df-60b8ab53a44a",
      "name": "Add picture demo1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9e267076-fd09-4915-9f9f-b1636135563c",
              "leftValue": "={{ $json['Link video'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        200,
        -80
      ],
      "id": "d9fe0f98-e946-498f-a20e-3e6966f1d74c",
      "name": "Filter3"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "=https://docs.google.com/spreadsheets/d/1ii8mqY8bOxOuJwMSCe19PF9SQWvyaqox9FlQuI0fNZY/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Dashboard",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ObeKqNJTMd2PsdZO6XV0S_rIDdm5P4ZKVilb2wuX4do/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Ảnh nền": "={{ $json['Ảnh nền'] }}",
            "Link Vids": "={{ $json['Link video'] }}",
            "Ngày cập nhật driver": "={{ $json['Ngày đăng'] }}",
            "Prompt": "Bạn là chuyên gia mạng xã hội và Emme là một brand thời trang công sở. Bạn hãy phân tích dựa vào hình ảnh đính kèm để trả về một bài viết trên nền tảng Facebook phù hợp với các trang phục trong hình của Emme. Bài viết ngắn ngọn và tập trung vào cảm xúc của người đọc nhầm khơi gợi các yếu tố có thể dẫn đến việc tìm hiểu sản phầm kỹ hơn và đưa ra các quyết định mua hàng mà không cần phải nói quá nhiều về sản phẩm và quảng cáo thương hiệu. ",
            "Mục Đích": "Bán hàng",
            "Tạo content": "Tạo content"
          },
          "matchingColumns": [
            "Link Vids"
          ],
          "schema": [
            {
              "id": "Link bài đăng",
              "displayName": "Link bài đăng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link Vids",
              "displayName": "Link Vids",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Link Folder",
              "displayName": "Link Folder",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ảnh nền",
              "displayName": "Ảnh nền",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Acc FB Page",
              "displayName": "Acc FB Page",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tình Trạng",
              "displayName": "Tình Trạng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Giờ đăng bài",
              "displayName": "Giờ đăng bài",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Đăng facebook",
              "displayName": "Đăng facebook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ngày cập nhật driver",
              "displayName": "Ngày cập nhật driver",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Prompt",
              "displayName": "Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Mục Đích",
              "displayName": "Mục Đích",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tạo content",
              "displayName": "Tạo content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Dọn Driver",
              "displayName": "Dọn Driver",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Trạng thái",
              "displayName": "Trạng thái",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        400,
        -80
      ],
      "id": "bfd18dfb-7ea0-4ef9-b0b8-4a753dbcaa80",
      "name": "Google Sheets6",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8050CbIUTPPd5eLC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -700,
        -80
      ],
      "id": "d9bb5182-d772-46e9-9b6e-73ad766b3e07",
      "name": "Mỗi ngày 1 lần"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.createdTime }}",
        "format": "custom",
        "customFormat": "yyyy/MM/dd HH:mm:ss",
        "outputFieldName": "Ngày cập nhật driver",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -360,
        -80
      ],
      "id": "4f6fe887-a881-4b46-a1bf-58a3766da32d",
      "name": "Date & Time",
      "executeOnce": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Viết một bài viết facebook marketing hư cấu về chủ đề: {{ $json.Prompt }}\nMục đích: {{ $json['Mục đích'] }}\nLink ảnh: {{ $json['Link ảnh'] }}\n* Lưu ý: Không trả về nội dung có chứa smiley, giải thích, thứ ngày hoặc mùa cụ thể và các thông tin yêu cầu cung cấp thêm. ",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        1220,
        -80
      ],
      "id": "9632caf1-b603-4cca-8671-7235e0106591",
      "name": "Basic LLM Chain",
      "retryOnFail": true,
      "executeOnce": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-lite-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1240,
        120
      ],
      "id": "a02f2aca-c8fb-411b-b77d-2c8db25a2e99",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "fvJxqIkWzbZwR6vj",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"Content\": \"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1360,
        120
      ],
      "id": "cbc26643-251a-45ae-991a-e164a96a846c",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a5ceacde-d695-4971-929e-98369152b145",
              "leftValue": "={{ $json.Prompt }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "253d20a8-01e2-43f6-8f1f-6ad74ee4284b",
              "leftValue": "={{ $json.Content }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        840,
        -80
      ],
      "id": "60961b6a-a2c3-4b5c-bc5b-c81d0782a2c6",
      "name": "Filter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1060,
        -80
      ],
      "id": "26f55d9b-4a85-47b4-b4dd-39ad7b0a48f8",
      "name": "Loop Over Items5"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "=https://docs.google.com/spreadsheets/d/1ii8mqY8bOxOuJwMSCe19PF9SQWvyaqox9FlQuI0fNZY/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Dashboard",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14fM01uaDhGK9_di7HqZbXp5TcvQBZJ2lRPZxy6KWcqQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Content": "={{ $json.output.Content }}",
            "Tình Trạng": "Chưa Kiểm Tra",
            "Link Vids": "={{ $('Loop Over Items5').item.json['Link Vids'] }}"
          },
          "matchingColumns": [
            "Link Vids"
          ],
          "schema": [
            {
              "id": "Link bài đăng",
              "displayName": "Link bài đăng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Link Vids",
              "displayName": "Link Vids",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Link Folder",
              "displayName": "Link Folder",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ảnh nền",
              "displayName": "Ảnh nền",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Acc FB Page",
              "displayName": "Acc FB Page",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tình Trạng",
              "displayName": "Tình Trạng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Giờ đăng bài",
              "displayName": "Giờ đăng bài",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Đăng facebook",
              "displayName": "Đăng facebook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ngày cập nhật driver",
              "displayName": "Ngày cập nhật driver",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Prompt",
              "displayName": "Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mục Đích",
              "displayName": "Mục Đích",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tạo content",
              "displayName": "Tạo content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Dọn Driver",
              "displayName": "Dọn Driver",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trạng thái",
              "displayName": "Trạng thái",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1560,
        -80
      ],
      "id": "fd72f68d-dc59-4d64-b946-c4138011344a",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8050CbIUTPPd5eLC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "=https://docs.google.com/spreadsheets/d/1ii8mqY8bOxOuJwMSCe19PF9SQWvyaqox9FlQuI0fNZY/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Dashboard",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ii8mqY8bOxOuJwMSCe19PF9SQWvyaqox9FlQuI0fNZY/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        660,
        -80
      ],
      "id": "12cb3c55-0cbc-496e-a947-6f949a3e919a",
      "name": "Google Sheets14",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8050CbIUTPPd5eLC",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-03-31T19:25:55.000Z",
  "versionId": "083e4f4e-e366-4860-8c76-e3e570f7b061"
}