workflows/gGdjhtLK5Wo2qo4H.json
{
  "active": false,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Grab New Cluster",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grab New Cluster": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preliminary Plan": {
      "main": [
        [
          {
            "node": "Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fix Links": {
      "main": [
        [
          {
            "node": "Create plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create plan": {
      "main": [
        [
          {
            "node": "Write Blog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Blog": {
      "main": [
        [
          {
            "node": "Previous Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Add internal links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add internal links": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slug": {
      "main": [
        [
          {
            "node": "Title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Title": {
      "main": [
        [
          {
            "node": "Meta description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meta description": {
      "main": [
        [
          {
            "node": "Image Covers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Covers": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Wordpress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check as completed on Sheets": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wordpress": {
      "main": [
        [
          {
            "node": "Check as completed on Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research": {
      "main": [
        [
          {
            "node": "Fix Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Previous Posts": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format the HTML result": {
      "main": [
        [
          {
            "node": "Slug",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML version": {
      "main": [
        [
          {
            "node": "Format the HTML result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Education",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Service",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Education": {
      "main": [
        [
          {
            "node": "HTML version",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Service": {
      "main": [
        [
          {
            "node": "HTML version",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead": {
      "main": [
        [
          {
            "node": "HTML version",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Product": {
      "main": [
        [
          {
            "node": "HTML version",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Preliminary Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Grab New Cluster1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grab New Cluster1": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "DeepSeek",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek": {
      "main": [
        [
          {
            "node": "Research1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research1": {
      "main": [
        [
          {
            "node": "Fix Links1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fix Links1": {
      "main": [
        [
          {
            "node": "DeepSeek1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek1": {
      "main": [
        [
          {
            "node": "DeepSeek2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Previous Posts1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek2": {
      "main": [
        [
          {
            "node": "Previous Posts1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "DeepSeek3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek3": {
      "main": [
        [
          {
            "node": "DeepSeek4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek4": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "DeepSeek5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DeepSeek6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DeepSeek7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DeepSeek8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek5": {
      "main": [
        [
          {
            "node": "DeepSeek9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek6": {
      "main": [
        [
          {
            "node": "DeepSeek9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek7": {
      "main": [
        [
          {
            "node": "DeepSeek9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek8": {
      "main": [
        [
          {
            "node": "DeepSeek9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek9": {
      "main": [
        [
          {
            "node": "Format the HTML result1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Covers1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Wordpress1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check as completed on Sheets1": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wordpress1": {
      "main": [
        [
          {
            "node": "Check as completed on Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format the HTML result1": {
      "main": [
        [
          {
            "node": "DeepSeek10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek10": {
      "main": [
        [
          {
            "node": "DeepSeek11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek11": {
      "main": [
        [
          {
            "node": "DeepSeek12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek12": {
      "main": [
        [
          {
            "node": "Image Covers1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-07T17:02:28.726Z",
  "id": "gGdjhtLK5Wo2qo4H",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "TEST JoFrame Auto Posting Wordpress News",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "2 1 * * 2"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -3760,
        440
      ],
      "id": "bc1efbec-a51f-4039-9030-0c95808bc946",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1PkMdJdYhgdxuXsK8pUspKFvSAbmIAqf3y9i68Aqfw2k",
          "mode": "list",
          "cachedResultName": "JoFrame- Blog Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PkMdJdYhgdxuXsK8pUspKFvSAbmIAqf3y9i68Aqfw2k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1714539459,
          "mode": "list",
          "cachedResultName": "Pillar #1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PkMdJdYhgdxuXsK8pUspKFvSAbmIAqf3y9i68Aqfw2k/edit#gid=1714539459"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -3500,
        440
      ],
      "id": "2f894d5e-4faa-4aa9-8d51-58a7e684937b",
      "name": "Grab New Cluster",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8050CbIUTPPd5eLC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are part of a team that creates world class blog posts. \n\nFor each new blog post project, you are provided with a list of keywords and search intent. \n\n- Keywords: The keywords are to what the blog post is meant to rank for. They are scattered throughout the blog and define the topic of the blog post. \n\n- Search intent: The search intent recognises the intent of the user when searching up the keyword which defines be the theme of the blog post, so they click on our blog to satisfy their search. \n\n- Primary keyword: Out of the keywords, there is one keyword known as the primary keyword. The primary keyword will go in the title and first few sentences. It is important that the topic of the blog post is related to the primary keyword so that you can place it into the title and introduction naturally. \n\n- Faq: The Faq (frequently asked questions) are for you to understand the user and public main focus. they are for the last part of the blog (always change the main company name which is present in faq to a general faq question so it doesnt have any guidlines problem )\n\nGiven a list of keywords and search intent, your job is to understand the goal of th e blog post, identify the thought process behind the flow of the blog post and come up with a preliminary plan for the post. \n\nYour output must: \n\n- Recognise the discussion points of the blog post.\n\n- Be in dot point format.\n\nYou must ensure that the plan created satisfies the search intent and revolves directly around the given keywords. \n\nWhen making the plan keep in mind that all keywords must be used in the final blog post. \n\nThe final goal of the project is to create a high quality, high value, highly relevant blog post that will satisfy the users search intent and give them everything they need to know about the topic. \n\nA new project just came across your desk with below keywords and search intent:\n\nKeywords: \n{{ $json.Keywords }}\n\nSearch intent: \n{{ $json.Intent }}\n\nPrimary keyword: \n{{ $json['Primary Keyword'] }}\n\nFaq:\n{{ $json.Faq }}\n\nCreate the preliminary plan."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -2820,
        440
      ],
      "id": "82e8ef79-0d2d-44bc-9bdb-e25efbf9d977",
      "name": "Preliminary Plan",
      "credentials": {
        "openAiApi": {
          "id": "jI0kfY0u644jKF5W",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "23b8e8c4-9191-415a-9661-1b60d413528a",
              "name": "research",
              "value": "={{ $json.choices[0].message.content.replaceAll(\"[1]\", \" - source: \" +$json.citations[0]).replaceAll(\"[2]\",\" source:\" +$json.citations[1]).replaceAll(\"[3]\",\" - source: \" +$json.citations[2]).replaceAll(\"[4]\",\" - source: \"+$json.citations[3]).replaceAll(\"[5]\",\" - source: \"+$json.citations[4]).replaceAll(\"[6]\",\" - source: \"+$json.citations[5]).replaceAll(\"[7]\",\" - source: \"+$json.citations[6]).replaceAll(\"[8]\",\" - source: \"+$json.citations[7]).replaceAll(\"[9]\",\" - source: \"+$json.citations[8]).replaceAll(\"[10]\",\" - source: \"+$json.citations[9]) }}",
              "type": "string"
            },
            {
              "id": "b4e23084-89ef-437b-9bb7-26fcd854aeb0",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2180,
        440
      ],
      "id": "7cc6cce6-fca4-4a71-8ee2-8b621191a837",
      "name": "Fix Links"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are part of a team that creates world class blog posts. \n\nFor each new blog post project, you are provided with a list of keywords, a primary keyword, search intent, research findings and a preliminary blog post plan. Here's a definition of each of the inputs: \n\n- Keywords: These are the keywordswhich the blog post is meant to rank for on SEO. They should be scattered throughout the blog post intelligently to help with SEO. \n\n- Search intent: The search intent recognises the intent of the user when searching up the keyword. Our goal is to optimise the blog post to be highly relevant and valuable to the user, as such the search intent should be satisfied within the blog post. \n\n- Research findings: This is research found from very reputable resources in relation to the blog post. You must intelligently use this research to make your blog post more reputable. \n\n- Preliminary plan: Very basic plan set out by your colleague to kick off the blog post. \n\n- Primary keyword: Out of the keywords, there is one keyword known as the primary keyword. The primary keyword is the keyword which has the highest SEO importance and as such must go in the title and first few sentences of the blog post. It is important that the blog post is highly relevant to the primary keyword, so that it could be placed naturally into the title and introduction sections. \n\n- Faq: Top asked questions by users with answers\n\nGiven the said info, you must create a detailed plan for the blog post. \n \nYour output must: \n\n- Include a plan for the blog post.\n\n- Be in dot point format. \n\n- In each part of the blog post, you must mention which keywords should be placed. \n\nHere are the other things you must consider: \n\n- All keywords must be placed inside the blog post. For each section, mention which keywords to include. The keyword placement must feel natural and must make sense. \n\n- You must include all research points in the blog post. When including the research points, make sure to also include their source URL so that the copywriter can use them as hyperlinks. \n\n- You must ensure that the plan created satisfies the search intent and revolves directly around the given keywords. \n\n- Your plan must be very detailed. \n\n- Keep in mind the copywriter that will use your plan to write the blog post is not an expert in the topic of the blog post. So you should give them all the detail required so they can just turn it into nicely formatted paragraphs. So your plan should include all technical detail regarding each point to be in the blog post. For example instead of saying \"define X\", you must have \"define X as ...\". \n\n- The plan you create must have a flow that makes sense. \n\n- You must ensure the bog post will be highly detailed and satisfy the most important concepts regarding the topic. \n\n- You must ensure the Faq are mentioned without expliciexplicitly mentioning sensitive or public names , make the Faq public like question.\n\nA new project has just came across your desk with below details:\n\nKeywords: \n{{ $('Grab New Cluster').item.json.Keywords }} \n\nSearch intent: \n{{ $('Grab New Cluster').item.json.Intent }}\n\nPreliminary plan: \n{{ $('Preliminary Plan').item.json.message.content }}\n\nResearch findings: \n{{ $json.research }}\n\nPrimary keyword: \n{{ $('Grab New Cluster').item.json['Primary Keyword'] }}\n\nFaq:\n{{ $('Grab New Cluster').item.json.Faq }}\n\nCreate the detailed plan. \n\nYour output must only be the plan and nothing else. \n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -2020,
        440
      ],
      "id": "ae95bbaf-ca54-4f52-8235-45fe3597b4ed",
      "name": "Create plan",
      "credentials": {
        "openAiApi": {
          "id": "jI0kfY0u644jKF5W",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are part of a team that creates world class blog posts. \n\nYou are the teams best copywriter and are responsible for writing out the actual blog post. \n\nFor each new blog post project you are provided with a detailed plan and research findings. \n\nYour job is to create the blog post by closely following the detailed plan. \n\nThe blog post you create must: \n\n- Follow the plan bit by bit. \n\n- Use short paragraphs. \n\n- Use bullet points and subheadings with keywords where appropriate.  \n\n- Not have any fluff. The content of the blog must be value dense and direct. \n\n- Be very detailed. \n\n- Include the keywords mentioned in each section within that section. \n\n- Use the research as advised by the plan. Make sure to include the link associated with each point you extract from the research at the end of that section in the form of a URL.  \n\n- Place the primary keyword in the blog title, H1 header and early in the introduction. \n\n- Place one keyword for each section in the heading of that section. \n\n-  When possible pepper synonyms of the keywords throughout each section. \n\n- When possible use Latent Semantic Indexing (LSI) keywords and related terms to enhance context (e.g., “robotic process automation” for RPA). \n\n- Be at minimum 2000 to 2500 words long. \n\n- Be suitable for a year 5 reading level. \n\nMake sure to create the entire blog post draft in your first output. Don't stop or cut it short. \n\nHere are the details of your next blog post project: \n\nDetailed Plan: \n{{ $json.message.content }}\n\nDetailed Research: \n{{ $('Fix Links').item.json.research }}\n\n\nWrite the blog post."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1640,
        440
      ],
      "id": "0cda84df-b6b0-4042-92ac-82bdd6c32c8f",
      "name": "Write Blog",
      "credentials": {
        "openAiApi": {
          "id": "jI0kfY0u644jKF5W",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "previous-posts",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1080,
        440
      ],
      "id": "8ddb5821-0699-4d2f-8b91-3dfa8cf42769",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo-0125",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO-0125"
        },
        "messages": {
          "values": [
            {
              "content": "=You are part of a team that creates world class blog posts. \n\nYou are in charge of internal linking between blog posts. \n\nFor each new blog post that comes across your desk, your job is to look through previously posted blogs and make atleast 5 internal links. \n\nTo choose the best internal linking opportunities you must: \n\n- Read the previous blog post summaries and look through their keywords. If there is a match where the previous blog post is highly relevant, then this is an internal linking opportunity. \n\n- Do not link if it is not highly relevant. Only make a link if it makes sense and adds value for the reader. \n\nOnce you've found the best linking opportunities, you must update the blog post with the internal links. To do this you must: \n\n- Add the link of the previous blog post at the relevant section of the new blog post. Drop the URL at the place which makes most sense. Later we will hyperlink the URL to the word in the blog post which it is placed next to. So your placing is very important. \n\nMake sure to not delete any existing URLs or change anything about the blog post provided to you. You must only add new internal linking URLs and output the revised blog post. \n\nYour output must be the blog post given to you plus the new urls. Don't remove any info. \n\nDon't return the previous blog posts. Only return the current blog post with the internal links added.\n\nCurrent blog Post: \n{{ $('Write Blog').last().json.message.content }}\n\nPrevious Blog Posts: \n{{ $json['previous-posts'].toJsonString().split() }}\n\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -3820,
        1140
      ],
      "id": "7355ddcf-3218-486b-9c93-51d3ab6f5ac2",
      "name": "Add internal links",
      "credentials": {
        "openAiApi": {
          "id": "jI0kfY0u644jKF5W",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo-0125",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO-0125"
        },
        "messages": {
          "values": [
            {
              "content": "=Create a slug for the following blog post: \n{{ $('Add internal links').item.json.message.content }}\n\nA slug in a blog post is the part of the URL that comes after the domain name and identifies a specific page. It is typically a short, descriptive phrase that summarizes the content of the post, making it easier for users and search engines to understand what the page is about. For example, in the URL www.example.com/intelligent-agents, the slug is intelligent-agents. A good slug is concise, contains relevant keywords, and avoids unnecessary words to improve readability and SEO. \n\nThe slug must be 4 or 5 words max and must include the primary keyword of the blog post which is {{ $('Grab New Cluster').last().json['Primary Keyword'] }}.\n\nYour output must be the slug and nothing else so that I can copy and paste your output and put it at the end of my blog post URL to post it right away. "
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1780,
        1140
      ],
      "id": "9c68467c-7bca-47bf-81f5-99755a4d0cce",
      "name": "Slug",
      "credentials": {
        "openAiApi": {
          "id": "Vh1Kgy5ShKLBWvw4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo-0125",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO-0125"
        },
        "messages": {
          "values": [
            {
              "content": "=Extract the blog post title from the following blog post: \n{{ $('Add internal links').item.json.message.content }}\n\n\n\nThe blog post title must include the primary keyword {{ $('Grab New Cluster').last().json['Primary Keyword'] }} and must inform the users right away of what they can expect from reading the blog post. \n\n- Don't put the output in \"\". The output should just text with no markdown or formatting. \n\nYour output must only be the blog post title and nothing else. "
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1340,
        1140
      ],
      "id": "d5e4b0cf-71ec-4f53-ad46-19918ee53271",
      "name": "Title",
      "credentials": {
        "openAiApi": {
          "id": "Vh1Kgy5ShKLBWvw4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo-0125",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO-0125"
        },
        "messages": {
          "values": [
            {
              "content": "=Create a good meta description for the following blog post: \n\n{{ $('Add internal links').item.json.message.content }}\n\nA good meta description for a blog post that is SEO-optimized should:\n- Be Concise: Stick to 150-160 characters to ensure the full description displays in search results. \n- Include Keywords: Incorporate primary keywords naturally to improve visibility and relevance to search queries.\n\nPrimary keyword = {{ $('Grab New Cluster').last().json['Primary Keyword'] }}\n\nMore keywords to include if possible = [{{ $('Grab New Cluster').last().json.Keywords }}]\n\n- Provide Value: Clearly describe what the reader will learn or gain by clicking the link. \n\n- Be Engaging: Use persuasive language, such as action verbs or a question, to encourage clicks. \n\n- Align with Content: Ensure the description accurately reflects the blog post to meet user expectations and reduce bounce rates. \n\nYour output must only be the meta description and nothing else. \n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -880,
        1140
      ],
      "id": "8b5d168c-4fff-49f5-83b7-70447be576e1",
      "name": "Meta description",
      "credentials": {
        "openAiApi": {
          "id": "Vh1Kgy5ShKLBWvw4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search?engine=google_images",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "serpApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $('Title').item.json.message.content }}"
            },
            {
              "name": "gl",
              "value": "us"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1700,
        1500
      ],
      "id": "85755bb8-6ae7-4024-af8a-2fe40e2da54f",
      "name": "Image Covers",
      "credentials": {
        "httpQueryAuth": {
          "id": "q1vXF4jgxqYIW87P",
          "name": "Query Auth account"
        },
        "serpApi": {
          "id": "Y3B3CXeloZCjU8Fo",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1f0541df-05ab-4e3d-a5d8-3904579fc8a9",
              "name": "image-url",
              "value": "={{ $json.images_results[1].original }}",
              "type": "string"
            },
            {
              "id": "010a7d85-5ed9-43fa-9a03-15d81b631015",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1520,
        1500
      ],
      "id": "f1a0c5f3-2ee4-4374-9ad7-3b908f5a62b6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1PkMdJdYhgdxuXsK8pUspKFvSAbmIAqf3y9i68Aqfw2k",
          "mode": "list",
          "cachedResultName": "JoFrame- Blog Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PkMdJdYhgdxuXsK8pUspKFvSAbmIAqf3y9i68Aqfw2k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1714539459,
          "mode": "list",
          "cachedResultName": "Pillar #1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PkMdJdYhgdxuXsK8pUspKFvSAbmIAqf3y9i68Aqfw2k/edit#gid=1714539459"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Primary Keyword": "{{ $('Grab New Cluster').last().json['Primary Keyword'] }}",
            "Completed": "Yes"
          },
          "matchingColumns": [
            "Primary Keyword"
          ],
          "schema": [
            {
              "id": "Cluster",
              "displayName": "Cluster",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Intent",
              "displayName": "Intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Keywords",
              "displayName": "Keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Primary Keyword",
              "displayName": "Primary Keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Faq",
              "displayName": "Faq",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Completed",
              "displayName": "Completed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1000,
        1500
      ],
      "id": "035f476a-8d48-43c1-a745-a4efce69c58c",
      "name": "Check as completed on Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8050CbIUTPPd5eLC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1jtFve0KSexmY61apZnp3mqQmceOeZ-czznYK9pv_1sk",
          "mode": "list",
          "cachedResultName": "Previous Posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jtFve0KSexmY61apZnp3mqQmceOeZ-czznYK9pv_1sk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 634298018,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VBn94hh0caksH-Yk4h4BFZ80_sJJinIFxyWba9fQ8QQ/edit#gid=634298018"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Keywords": "={{ $('Grab New Cluster').last().json.Keywords }}",
            "URL": "=https://blogs.vistaratechnologies.in/{{ $('Slug').item.json.message.content }}",
            "Blog Title": "={{ $('Title').item.json.message.content }}",
            "Summary": "={{ $('Meta description').item.json.message.content }}",
            "Post ID": "={{ $('Wordpress').item.json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Blog Title",
              "displayName": "Blog Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Keywords",
              "displayName": "Keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Post ID",
              "displayName": "Post ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "LINKDIN ",
              "displayName": "LINKDIN ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "FACEBOOK",
              "displayName": "FACEBOOK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -820,
        1500
      ],
      "id": "fac1a15f-af33-4037-8adf-57dc907a50c0",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8050CbIUTPPd5eLC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Schedule a trigger\n \n",
        "height": 240,
        "width": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3840,
        360
      ],
      "typeVersion": 1,
      "id": "5f84c54e-f926-422d-b12e-e6a1700ef536",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## New Post Info\n \n",
        "height": 240
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3560,
        360
      ],
      "typeVersion": 1,
      "id": "92082364-328b-40de-a0a2-27a53cf38dbf",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Preliminary Post Plan \n \n",
        "height": 240,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2880,
        360
      ],
      "typeVersion": 1,
      "id": "9435c7ee-32d3-49c1-9ec8-b781a262661c",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Research\n \n \n",
        "height": 240,
        "width": 180
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2400,
        360
      ],
      "typeVersion": 1,
      "id": "0e01ef29-cc40-4f4d-a43a-c62fb8a1015d",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Post Plan \n \n",
        "height": 240,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2040,
        360
      ],
      "typeVersion": 1,
      "id": "3907dc7a-0253-4d15-9d1f-c19ca161e7e0",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Writing Blog\n \n \n",
        "height": 240,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1660,
        360
      ],
      "typeVersion": 1,
      "id": "42afaae7-2353-4bcc-b310-e1a4a3b8f4d3",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Internal Links\n \n \n",
        "height": 280,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3840,
        1060
      ],
      "typeVersion": 1,
      "id": "8b97180b-616f-4e5c-8075-f28d50322d81",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## HTML\n\n \n \n",
        "height": 300,
        "width": 500
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2400,
        1060
      ],
      "typeVersion": 1,
      "id": "30eebe07-ea16-4414-9542-de1249b36a35",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Slug\n\n\n \n \n",
        "height": 240,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1820,
        1080
      ],
      "typeVersion": 1,
      "id": "63690710-3265-4ca4-b009-9a790636ba5d",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## Post Title\n\n\n \n \n",
        "height": 240,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1360,
        1060
      ],
      "typeVersion": 1,
      "id": "bb8cd609-abdd-40a4-be34-fd540c0776a7",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## Meta Description\n\n\n \n \n",
        "height": 240,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -900,
        1060
      ],
      "typeVersion": 1,
      "id": "f5dafe1b-c74b-41b2-ac1a-0724e52ee060",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "## Get Image\n\n\n\n \n \n",
        "height": 240,
        "width": 360
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1760,
        1420
      ],
      "typeVersion": 1,
      "id": "4729c96f-0115-4ec0-ae67-97a4cbb4bbe0",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "## Post\n\n\n\n\n \n \n",
        "height": 240
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1360,
        1420
      ],
      "typeVersion": 1,
      "id": "836461ba-1954-4e91-b3e2-adb4d26c3c46",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "title": "={{ $('Title').item.json.message.content }}",
        "additionalFields": {
          "authorId": "={{ 1 }}",
          "content": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>{{ $json['title'] || 'Vistara Technologies' }}</title>\n\n  <!-- Load Tailwind CSS -->\n  <script src=\"https://cdn.tailwindcss.com\"></script>\n\n  <style>\n    .container { \n      max-width: 800px; \n      margin: auto; \n      background: white; \n      padding: 24px; \n      border-radius: 8px; \n      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); \n    }\n  </style>\n</head>\n<body class=\"bg-gray-100 p-6\">\n  \n  <!-- Navigation -->\n  <header class=\"bg-blue-600 text-white py-4 text-center text-xl font-bold\">\n    {{ $json['site_name'] || 'Vistara Technologies' }}\n  </header>\n\n  <div class=\"container my-8 p-6 bg-white rounded-lg shadow-lg\">\n    \n    <!-- Title -->\n    <h1 class=\"text-3xl font-bold text-gray-800\">{{ $('HTML version').item.json.message.content.title }}</h1>\n\n    <!-- Featured Image -->\n    <img src=\"{{ $json['image-url'] || 'default-image.jpg' }}\" \n         alt=\"{{ $json['title'] || 'Cover Image' }}\" \n         class=\"w-full mt-4 rounded-lg shadow-sm\">\n\n    <!-- Content Section -->\n    <div class=\"mt-6 text-gray-700\">\n       {{ $('HTML version').item.json.message.content.html }}\n    </div>\n\n    <!-- WPForms Contact Form (WordPress Integration Required) -->\n    <div class=\"mt-8 bg-gray-100 p-4 rounded-lg\">\n      <h2 class=\"text-xl font-semibold text-gray-800\">Get in Touch</h2>\n      <div id=\"wp-form-container\"></div>\n      <script>\n        document.getElementById('wp-form-container').innerHTML = `[wpforms id=\"26\" title=\"false\"]`;\n      </script>\n    </div>\n  </div>\n  \n  <!-- Footer -->\n  <footer class=\"text-center text-gray-600 py-4\">\n    &copy;{{ new Date().getFullYear() }} - {{ $json['site_name'] || 'Vistara Technologies' }}. All rights reserved.\n  </footer>\n\n</body>\n</html>\n",
          "slug": "={{ $('Slug').item.json.message.content }}",
          "status": "private",
          "commentStatus": "closed",
          "sticky": false,
          "categories": [
            1
          ],
          "tags": [],
          "postTemplate": {
            "values": {
              "elementor": false
            }
          }
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        -1260,
        1500
      ],
      "id": "97dae617-af8d-4433-b7ba-07ee220c8a68",
      "name": "Wordpress",
      "credentials": {
        "wordpressApi": {
          "id": "UfjnDwZF36cesxyo",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Completion\n\n\n\n\n\n \n \n",
        "height": 240,
        "width": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1080,
        1420
      ],
      "typeVersion": 1,
      "id": "117601b7-5838-444e-a513-1881fb0267b9",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "# WORDPRESS & SOCIAL MEDIA # SEO POST\n\n \n \n",
        "height": 80,
        "width": 3260,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3840,
        200
      ],
      "typeVersion": 1,
      "id": "200764fc-6324-4cd5-b6c9-95500aa8596a",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "perplexityApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Act as a professional news researcher who is capable of finding detailed summaries about a news topic from highly reputable sources.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.message.content.split(/\\n+/).join(' ').replaceAll('\"', ' ') }}\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2360,
        440
      ],
      "id": "5edf8dec-4619-4996-ae7d-51ffa2758b94",
      "name": "Research",
      "credentials": {
        "httpHeaderAuth": {
          "id": "LefkKfB5CWEVKd33",
          "name": "Perflexity"
        },
        "httpBasicAuth": {
          "id": "fAUyNaUXkXkwRySV",
          "name": "Per"
        },
        "perplexityApi": {
          "id": "HRz7NmRmVhN4ng0D",
          "name": "Perplexity account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "12QRaArKqPS3Xc5xWmVYfVNEtQfVXEez7w-D0y4lvXhQ",
          "mode": "list",
          "cachedResultName": "JoFrame - Previous Posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12QRaArKqPS3Xc5xWmVYfVNEtQfVXEez7w-D0y4lvXhQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 634298018,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12QRaArKqPS3Xc5xWmVYfVNEtQfVXEez7w-D0y4lvXhQ/edit#gid=634298018"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1280,
        440
      ],
      "id": "9e98e38f-da6a-4295-a628-1409db0c0681",
      "name": "Previous Posts",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8050CbIUTPPd5eLC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n\n<html>\n<head>\n  <meta charset=\"UTF-8\" />\n    <script src=\"https://cdn.tailwindcss.com\"></script>\n  <title>{{ $json.message.content.title }}</title>\n</head>\n<body>\n{{ $json.message.content.html }}\n</body>\n</html>"
      },
      "id": "2e075a6e-767f-435f-8194-59bb9d900d6c",
      "name": "Format the HTML result",
      "type": "n8n-nodes-base.html",
      "position": [
        -2060,
        1140
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=You convert a JSON to HTML. \nThe JSON output has the following fields:\n- html: the page HTML\n- title: the page title",
              "role": "system"
            },
            {
              "content": "="
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "temperature": 0.2
        }
      },
      "id": "d8d1c33e-55b9-4278-aec7-89d21da90766",
      "name": "HTML version",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        -2380,
        1140
      ],
      "typeVersion": 1.3,
      "credentials": {
        "openAiApi": {
          "id": "Vh1Kgy5ShKLBWvw4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.content }}",
                    "rightValue": "Education",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "231306eb-9c99-4d01-8c4c-aef9d598addb"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0d9e7f11-b6b8-46a7-82ac-78765531c6a4",
                    "leftValue": "={{ $json.message.content }}",
                    "rightValue": "Service",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "82609943-ffa8-4eed-a218-8c3c45ac9152",
                    "leftValue": "={{ $json.message.content }}",
                    "rightValue": "Lead",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "da99ef04-c989-457a-91e5-8d477ddba39e",
                    "leftValue": "={{ $json.message.content }}",
                    "rightValue": "Product",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -3080,
        1120
      ],
      "id": "a26d9e67-8955-402a-b2d9-103b1373ef8c",
      "name": "Switch"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=content:{{ $json.message.content }}\n\nAnalyze the following content and categorize it into one of these four types:\n\nProduct Showcase → If it describes product features, specifications, and pricing.\n\nService Description → If it explains a service offering, process, or consultation.\n\nLead Generation → If the goal is to capture user details (e.g., sign up, free trial, booking).\n\nEducational Resource → If the focus is on providing knowledge, guides, or tutorials.\n\nReturn only the category name as a single word (Product, Service, Lead, or Education).\n\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -3400,
        1140
      ],
      "id": "8484167f-b107-4164-b910-2ba452d3b736",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "jI0kfY0u644jKF5W",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=> **Role:**  \n> You are an expert **UI/UX designer** and **high-converting copywriter** specializing in **SEO-optimized educational landing pages**. Your job is to generate a **professional, engaging, and conversion-friendly** landing page using **Tailwind CSS** based on the provided content.  \n>   \n> Your output should be structured, visually appealing, and optimized for **readability, engagement, and lead generation**.  \n\n---\n\n### **Content Input:**  \n```\n{{ $('Add internal links').item.json.message.content }}\n```  \n\n---\n\n## **Landing Page Structure (Conversion-Optimized)**  \n\n### **1. Header Section (Navigation & Branding)**  \n- **Logo**: Display the company logo using the following image:\n  ```html\n  <img src=\"https://www.vistaratechnologies.in/wp-content/uploads/2025/03/1-2-1024x291.png\" alt=\"Vistara Technologies Logo\" class=\"h-10 w-auto\">\n  ```  \n- Clean, **minimal UI for distraction-free reading**  \n\n---\n\n### **2. Hero Section (First Fold) – Strong Hook**  \n- **Engaging headline** that clearly introduces the educational topic  \n- **Concise, compelling subtext** emphasizing the core learning outcome  \n- **Visually appealing CTA button** (if applicable, e.g., “Start Learning,” “Download Guide”)  \n- Background **image, icon, or illustration** to enhance appeal  \n\n---\n\n### **3. Educational Content Section (Structured for Clarity & Engagement)**  \n- **Clear subheadings & logical content flow** for better readability  \n- Use **bullet points, numbered lists, and short paragraphs** to improve skimming  \n- **Real-life examples, case studies, or statistics** to add credibility  \n- **Engaging visuals, infographics, or illustrations** for visual appeal  \n- **Key takeaways or summary box** at the end for retention  \n\n---\n\n### **4. Additional Learning Resources (Optional but Recommended)**  \n- Links to **related blog posts, guides, research papers, or courses**  \n- **Downloadable PDFs, checklists, or toolkits** (if applicable)  \n- **Embedded video or tutorial content** for enhanced engagement  \n\n---\n\n### **5. FAQ Section (Boosts Engagement & SEO)**  \n- AI extracts **4-5 of the most relevant questions** related to the topic  \n- Answers should be **concise, benefit-driven, and conversational**  \n\n---\n\n### **6. Call-to-Action (Optional but Powerful for Lead Capture)**  \n- If the content is **actionable**, include a **CTA button** (e.g., “Sign Up for Free,” “Download the Guide”)  \n- **Trust signals** (e.g., \"Join 50,000+ learners,\" \"No spam, unsubscribe anytime\")  \n\n---\n\n### **7. Footer – Professional & SEO-Optimized**  \n- **Copyright notice**  \n- **Quick links** (Privacy Policy, Terms & Conditions, Contact)  \n- **Social media icons for easy sharing**  \n- Clean, minimal **SEO-optimized footer layout**  \n\n---\n\n## **Tailwind CSS Styling Requirements:**  \n✅ **Fully mobile-responsive** (Optimized for all devices)  \n✅ **Consistent spacing, typography, and readability**  \n✅ **Modern, clean UI with subtle animations**  \n✅ **Dark/light mode support (optional but recommended)**  \n✅ **Clear, high-contrast CTA buttons for better engagement**  \n\n---\n\n## **Output Format**  \n```json\n{\n  \"templateType\": \"educational-resource\",\n  \"title\": \"SEO-optimized, keyword-rich title\",\n  \"html\": \"Complete, structured, and mobile-optimized HTML markup for the landing page\"\n}\n```\n\n"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -2820,
        800
      ],
      "id": "93b846c9-e803-4dfc-b2a2-ba4c36dbac94",
      "name": "Education",
      "credentials": {
        "openAiApi": {
          "id": "jI0kfY0u644jKF5W",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=> **Role:**  \n> You are an expert **UI/UX designer** and **high-converting copywriter** specializing in **SEO-optimized service landing pages**. Your task is to generate a **professional, engaging, and conversion-focused** landing page using **Tailwind CSS** based on the provided content.  \n>   \n> Your output should be **highly persuasive**, designed to **build trust, highlight benefits, and drive inquiries or bookings**.  \n\n---\n\n### **Content Input:**  \n```  \n{{ $('Add internal links').item.json.message.content }}  \n```  \n\n---\n\n## **Landing Page Structure (Conversion-Optimized)**  \n\n### **1. Header Section (Navigation & Branding)**  \n-  **Logo**: Display the company logo using the following image:\n  ```html\n  <img src=\"https://www.vistaratechnologies.in/wp-content/uploads/2025/03/1-2-1024x291.png\" alt=\"Vistara Technologies Logo\" class=\"h-10 w-auto\">\n  ``` \n- Clean, minimal UI for **distraction-free browsing**  \n\n---\n\n### **2. Hero Section (First Fold) – Strong Hook**  \n- **Powerful, benefit-driven headline**  \n- **Supporting subtext** highlighting key benefits & pain points solved  \n- **Visually appealing CTA button** (e.g., “Get a Free Quote,” “Book a Consultation”)  \n- Background image, icon, or **customer success visual**  \n\n---\n\n### **3. Service Overview (Clear Value Proposition)**  \n- **What the service is & who it’s for**  \n- **Key features/benefits in bullet points**  \n- **Social proof or trust badges** (if applicable)  \n\n---\n\n### **4. Detailed Service Breakdown (Trust-Building & Clarity)**  \n- **How the service works (step-by-step if needed)**  \n- **Unique selling points (What makes this service stand out?)**  \n- **Pricing (if applicable) or clear CTA to get a quote**  \n\n---\n\n### **5. Testimonials & Social Proof (Boost Trust & Conversions)**  \n- **Real customer reviews** (if available)  \n- **Case studies or success stories**  \n- **Logos of past clients (if applicable)**  \n\n---\n\n### **6. Call-to-Action (Clear, Persuasive, and Urgent)**  \n- **Primary CTA button** (e.g., “Book a Free Consultation,” “Request a Demo”)  \n- **Secondary CTA (if needed, e.g., “Learn More”)**  \n- **Urgency triggers** (Limited slots, “Offer ends soon,” etc.)  \n\n---\n\n### **7. FAQ Section (Boosts Engagement & SEO)**  \n- AI extracts **4-5 of the most relevant user questions**  \n- Answers should be **clear, concise, and benefit-driven**  \n\n---\n\n### **8. Footer – Professional & SEO-Optimized**  \n- **Copyright notice**  \n- **Quick links (Privacy Policy, Terms & Conditions, Contact Info)**  \n- **Social media icons for credibility**  \n- **SEO-optimized structured footer**  \n\n---\n\n## **Tailwind CSS Styling Requirements:**  \n✅ **Fully mobile-responsive**  \n✅ **Consistent spacing, typography, and readability**  \n✅ **Modern, clean UI with subtle animations**  \n✅ **High-contrast CTA buttons for strong conversions**  \n\n---\n\n## **Output Format**  \n{  \n  \"templateType\": \"service-description\",  \n  \"title\": \"SEO-optimized, conversion-driven title\",  \n  \"html\": \"Complete, structured, and mobile-optimized HTML markup for the service landing page\"  \n}  \n"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -2820,
        1020
      ],
      "id": "45d5931f-107a-4964-88f4-e8cf05ab14e6",
      "name": "Service",
      "credentials": {
        "openAiApi": {
          "id": "jI0kfY0u644jKF5W",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=> **Role:**  \n> You are an expert **UI/UX designer** and **high-converting copywriter** specializing in **SEO-optimized lead generation landing pages**. Your job is to generate a **highly persuasive, professional, and conversion-focused** landing page using **Tailwind CSS** based on the provided content.  \n>   \n> Your output should be structured to maximize **lead capture, engagement, and trust-building** while maintaining a clean and visually appealing layout.  \n\n---\n\n### **Content Input:**  \n```  \n{{ $('Add internal links').item.json.message.content }}  \n```  \n\n---\n\n## **Landing Page Structure (Conversion-Optimized)**  \n\n### **1. Header Section (Navigation & Branding)**  \n- **Logo**: Display the company logo using the following image:\n  ```html\n  <img src=\"https://www.vistaratechnologies.in/wp-content/uploads/2025/03/1-2-1024x291.png\" alt=\"Vistara Technologies Logo\" class=\"h-10 w-auto\">\n  ```  \n- Optional **“Sign In” or “Get Started” button** for returning users  \n\n---\n\n### **2. Hero Section (Strong Hook & Value Proposition)**  \n- **Powerful, benefit-driven headline** to capture attention  \n- **Concise subtext** reinforcing the key value proposition  \n- **High-contrast lead capture form** (Name, Email, Phone, etc.)  \n- **Strong CTA button** (e.g., “Get Free Access,” “Claim Your Offer”)  \n- **Trust badges or social proof** (e.g., “100,000+ happy users”)  \n\n---\n\n### **3. Key Benefits & Features**  \n- **Three-column layout** showcasing the main benefits  \n- **Icons + short descriptions** for readability  \n- Focus on **how the service/product solves user pain points**  \n\n---\n\n### **4. Lead Magnet (Incentive for Sign-Up)**  \n- Highlight **exclusive benefits** (e.g., “Free Trial,” “Bonus Guide”)  \n- Use **FOMO triggers** (Limited-time offer, “Only X spots left”)  \n- **Short bullet points** on what the user will gain  \n\n---\n\n### **5. Social Proof & Testimonials**  \n- **Real customer reviews, case studies, or video testimonials**  \n- **Logos of featured publications or partners** (if available)  \n- Trust signals such as **star ratings or success metrics**  \n\n---\n\n### **6. Call-to-Action (Reinforced for Conversions)**  \n- **Bold CTA with clear instructions** (e.g., “Sign Up Now”)  \n- **Urgency & scarcity elements** to encourage action  \n- **No-risk assurance** (e.g., “No credit card required”)  \n\n---\n\n### **7. FAQ Section (Reduces Hesitations & Boosts Trust)**  \n- AI extracts **4-5 most relevant questions** about the offer  \n- Answers should be **concise, benefit-driven, and persuasive**  \n\n---\n\n### **8. Footer – Professional & SEO-Optimized**  \n- **Copyright notice**  \n- **Quick links** (Privacy Policy, Terms & Conditions, Contact)  \n- **Social media icons** (if applicable)  \n- **SEO-friendly minimal footer layout**  \n\n---\n\n## **Tailwind CSS Styling Requirements:**  \n✅ **Fully mobile-responsive**  \n✅ **Consistent spacing, typography, and readability**  \n✅ **Modern, clean UI with subtle animations**  \n✅ **Dark/light mode support (optional but recommended)**  \n✅ **High-contrast CTA buttons for better engagement**  \n\n---\n\n## **Output Format**  \n{  \n  \"templateType\": \"lead-generation\",  \n  \"title\": \"SEO-optimized, high-converting title\",  \n  \"html\": \"Complete, structured, and mobile-optimized HTML markup for the landing page\"  \n}  \n"
            }
          ]
        },
        "simplify": "={{ true }}",
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -2820,
        1240
      ],
      "id": "a8ac821f-e177-497f-839e-921f1334648d",
      "name": "Lead",
      "credentials": {
        "openAiApi": {
          "id": "Vh1Kgy5ShKLBWvw4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=> **Role:**  \n> You are an expert **UI/UX designer** and **high-converting copywriter** specializing in **SEO-optimized product landing pages**. Your job is to generate a **professional, engaging, and conversion-focused** landing page using **Tailwind CSS** based on the provided content.  \n>   \n> Your output should be structured, visually appealing, and optimized for **readability, engagement, and lead generation**.  \n\n---\n\n### **Content Input:**  \n```  \n{{ $('Add internal links').item.json.message.content }}  \n```  \n\n---\n\n## **Landing Page Structure (Conversion-Optimized)**  \n\n### **1. Header Section (Navigation & Branding)**  \n-  **Logo**: Display the company logo using the following image:\n  ```html\n  <img src=\"https://www.vistaratechnologies.in/wp-content/uploads/2025/03/1-2-1024x291.png\" alt=\"Vistara Technologies Logo\" class=\"h-10 w-auto\">\n  ```  \n- Clean, **minimal UI for distraction-free browsing**  \n\n---\n\n### **2. Hero Section (First Fold) – Strong Hook**  \n- **Powerful, engaging headline** that clearly communicates the product’s core value proposition  \n- **Concise, compelling subtext** highlighting the main benefits  \n- **Visually appealing CTA button** (e.g., “Buy Now,” “Get Started,” “Try for Free”)  \n- Background **image, icon, or product showcase illustration** to enhance appeal  \n\n---\n\n### **3. Product Features & Benefits**  \n- **Three-column layout** showcasing key product features  \n- Use **icons + short descriptions** for easy skimming  \n- **Focus on user pain points & solutions**  \n- Include a **feature comparison table (if applicable)**  \n\n---\n\n### **4. Social Proof & Testimonials**  \n- **User testimonials or case studies** for credibility  \n- **Logos of trusted brands or media mentions** (if applicable)  \n- **Star ratings and real customer reviews**  \n\n---\n\n### **5. Pricing Section (If applicable)**  \n- Clear, **easy-to-read pricing table** with feature breakdowns  \n- Highlight **best-value plan with subtle UI emphasis**  \n- Include **money-back guarantee or risk-free trial statement**  \n\n---\n\n### **6. Call-to-Action (CTA) – Strong Persuasion**  \n- A **clear, high-contrast CTA button**  \n- **Urgency triggers** (Limited-time offer, “Only X spots left,” etc.)  \n- **Trust signals** (Secure Payment, Money-back Guarantee, etc.)  \n\n---\n\n### **7. FAQ Section (Boosts Engagement & SEO)**  \n- AI extracts **4-5 most relevant questions** potential customers might ask  \n- Answers should be **concise, benefit-driven, and conversational**  \n\n---\n\n### **8. Footer – Professional & SEO-Optimized**  \n- **Copyright notice**  \n- **Quick links** (Privacy Policy, Terms & Conditions, Support)  \n- **Social media icons for easy sharing**  \n- Clean, minimal **SEO-optimized footer layout**  \n\n---\n\n## **Tailwind CSS Styling Requirements:**  \n✅ **Fully mobile-responsive** (Optimized for all devices)  \n✅ **Consistent spacing, typography, and readability**  \n✅ **Modern, clean UI with subtle animations**  \n✅ **Dark/light mode support (optional but recommended)**  \n✅ **Clear, high-contrast CTA buttons for better engagement**  \n\n---\n\n## **Output Format**  \n{  \n  \"templateType\": \"product-showcase\",  \n  \"title\": \"SEO-optimized, keyword-rich title\",  \n  \"html\": \"Complete, structured, and mobile-optimized HTML markup for the landing page\"  \n}  \n"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -2820,
        1480
      ],
      "id": "1079db26-571f-41c8-9335-2a3d6601c0d4",
      "name": "Product",
      "credentials": {
        "openAiApi": {
          "id": "Vh1Kgy5ShKLBWvw4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Template Choice",
        "height": 980,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2880,
        700
      ],
      "id": "bd018010-91e0-40c3-b9bb-f9e5b449e1d4",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "content": "## Template Selection\n",
        "height": 280,
        "width": 500
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3440,
        1060
      ],
      "id": "4bb2b6cf-a522-44f8-a390-65e3cd2df744",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5bcea241-d553-46ab-b6f4-37e63b030b48",
              "leftValue": "={{ $json.Completed }}",
              "rightValue": "No",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -3280,
        440
      ],
      "id": "e8c6273d-15e6-4de2-b4aa-529776e10dac",
      "name": "Filter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "23b8e8c4-9191-415a-9661-1b60d413528a",
              "name": "research",
              "value": "={{ $json.choices[0].message.content.replaceAll(\"[1]\", \" - source: \" +$json.citations[0]).replaceAll(\"[2]\",\" source:\" +$json.citations[1]).replaceAll(\"[3]\",\" - source: \" +$json.citations[2]).replaceAll(\"[4]\",\" - source: \"+$json.citations[3]).replaceAll(\"[5]\",\" - source: \"+$json.citations[4]).replaceAll(\"[6]\",\" - source: \"+$json.citations[5]).replaceAll(\"[7]\",\" - source: \"+$json.citations[6]).replaceAll(\"[8]\",\" - source: \"+$json.citations[7]).replaceAll(\"[9]\",\" - source: \"+$json.citations[8]).replaceAll(\"[10]\",\" - source: \"+$json.citations[9]) }}",
              "type": "string"
            },
            {
              "id": "b4e23084-89ef-437b-9bb7-26fcd854aeb0",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2640,
        -860
      ],
      "id": "dd59a85f-b530-48f5-8c5e-2f9541f60dc3",
      "name": "Fix Links1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "2 1 * * 2"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -3600,
        -860
      ],
      "id": "83fa149a-6f30-4b8f-97c8-cacb9c559b66",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1PkMdJdYhgdxuXsK8pUspKFvSAbmIAqf3y9i68Aqfw2k",
          "mode": "list",
          "cachedResultName": "JoFrame- Blog Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PkMdJdYhgdxuXsK8pUspKFvSAbmIAqf3y9i68Aqfw2k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1714539459,
          "mode": "list",
          "cachedResultName": "Pillar #1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PkMdJdYhgdxuXsK8pUspKFvSAbmIAqf3y9i68Aqfw2k/edit#gid=1714539459"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -3340,
        -860
      ],
      "id": "2d54791b-a4cd-483b-8b39-d615ef7c163c",
      "name": "Grab New Cluster1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8050CbIUTPPd5eLC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Schedule a trigger\n \n",
        "height": 240,
        "width": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3680,
        -940
      ],
      "typeVersion": 1,
      "id": "6f76aa4b-b886-431e-b909-5e359d305c63",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "content": "## New Post Info\n \n",
        "height": 240
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3400,
        -940
      ],
      "typeVersion": 1,
      "id": "dc83b576-90ed-47fd-85a6-e7954a5059f5",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5bcea241-d553-46ab-b6f4-37e63b030b48",
              "leftValue": "={{ $json.Completed }}",
              "rightValue": "No",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -3120,
        -860
      ],
      "id": "9810095e-a700-4b86-b091-b5f5eba57afa",
      "name": "Filter1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "perplexityApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Act as a professional news researcher who is capable of finding detailed summaries about a news topic from highly reputable sources.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.message.content.split(/\\n+/).join(' ').replaceAll('\"', ' ') }}\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2800,
        -860
      ],
      "id": "32434ce3-0fb2-40b5-a428-53c595ea00c8",
      "name": "Research1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "LefkKfB5CWEVKd33",
          "name": "Perflexity"
        },
        "httpBasicAuth": {
          "id": "fAUyNaUXkXkwRySV",
          "name": "Per"
        },
        "perplexityApi": {
          "id": "HRz7NmRmVhN4ng0D",
          "name": "Perplexity account"
        }
      }
    },
    {
      "parameters": {
        "model": "deepseek-chat",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "=Task:\n\nCreate a detailed blog post outline using bullet points.\n\nUse the following inputs:\n\nKeywords: {{ $json.Keywords }}\nSearch Intent: {{ $json.Intent }} (The user's goal when searching)\nPrimary Keyword: {{ $json['Primary Keyword'] }} (Use in title & intro)\nFAQs: {{ $json.Faq }} (Use to understand focus; generalize questions - remove company names)\nOutline Requirements: \nDirectly satisfy the Search Intent.\nEnsure the content revolves around and incorporates all provided Keywords.\nIntegrate the Primary Keyword naturally into the planned title and introduction.\nPlan the FAQ section based on generalized versions of the provided FAQs.\nFormat: Bullet points.\nObjective: The outline must enable the creation of a high-quality, relevant, and comprehensive blog post that fulfills the user's search needs.\nNote: Output the result only, no explain or do anything else"
            },
            {
              "content": "{{ $json.Prompt }} "
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-deepseek.deepSeek",
      "typeVersion": 1,
      "position": [
        -2960,
        -860
      ],
      "id": "f5f3eb01-e51c-43d5-9732-78208c016e42",
      "name": "DeepSeek",
      "credentials": {
        "deepSeekApi": {
          "id": "qcWiXiGtRkBn5I1g",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "model": "deepseek-chat",
        "prompt": {
          "messages": [
            {
              "content": "=You are part of a team that creates world class blog posts. \n\nFor each new blog post project, you are provided with a list of keywords, a primary keyword, search intent, research findings and a preliminary blog post plan. Here's a definition of each of the inputs: \n\n- Keywords: These are the keywordswhich the blog post is meant to rank for on SEO. They should be scattered throughout the blog post intelligently to help with SEO. \n\n- Search intent: The search intent recognises the intent of the user when searching up the keyword. Our goal is to optimise the blog post to be highly relevant and valuable to the user, as such the search intent should be satisfied within the blog post. \n\n- Research findings: This is research found from very reputable resources in relation to the blog post. You must intelligently use this research to make your blog post more reputable. \n\n- Preliminary plan: Very basic plan set out by your colleague to kick off the blog post. \n\n- Primary keyword: Out of the keywords, there is one keyword known as the primary keyword. The primary keyword is the keyword which has the highest SEO importance and as such must go in the title and first few sentences of the blog post. It is important that the blog post is highly relevant to the primary keyword, so that it could be placed naturally into the title and introduction sections. \n\n- Faq: Top asked questions by users with answers\n\nGiven the said info, you must create a detailed plan for the blog post. \n \nYour output must: \n\n- Include a plan for the blog post.\n\n- Be in dot point format. \n\n- In each part of the blog post, you must mention which keywords should be placed. \n\nHere are the other things you must consider: \n\n- All keywords must be placed inside the blog post. For each section, mention which keywords to include. The keyword placement must feel natural and must make sense. \n\n- You must include all research points in the blog post. When including the research points, make sure to also include their source URL so that the copywriter can use them as hyperlinks. \n\n- You must ensure that the plan created satisfies the search intent and revolves directly around the given keywords. \n\n- Your plan must be very detailed. \n\n- Keep in mind the copywriter that will use your plan to write the blog post is not an expert in the topic of the blog post. So you should give them all the detail required so they can just turn it into nicely formatted paragraphs. So your plan should include all technical detail regarding each point to be in the blog post. For example instead of saying \"define X\", you must have \"define X as ...\". \n\n- The plan you create must have a flow that makes sense. \n\n- You must ensure the bog post will be highly detailed and satisfy the most important concepts regarding the topic. \n\n- You must ensure the Faq are mentioned without expliciexplicitly mentioning sensitive or public names , make the Faq public like question.\n\nA new project has just came across your desk with below details:\n\nKeywords: \n{{ $('Grab New Cluster1').item.json.Keywords }} \n\nSearch intent: \n{{ $('Grab New Cluster1').item.json.Intent }}\n\nPreliminary plan: \n{{ $('DeepSeek').item.json.message.content }}\n\nResearch findings: \n{{ $json.research }}\n\nPrimary keyword: \n{{ $('Grab New Cluster1').item.json['Primary Keyword'] }}\n\nFaq:\n{{ $('Grab New Cluster1').item.json.Faq }}\n\nCreate the detailed plan. \n\nYour output must only be the plan and nothing else. "
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-deepseek.deepSeek",
      "typeVersion": 1,
      "position": [
        -2480,
        -860
      ],
      "id": "d530f655-08a0-4750-bdcb-be4fb1c78401",
      "name": "DeepSeek1",
      "credentials": {
        "deepSeekApi": {
          "id": "qcWiXiGtRkBn5I1g",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "model": "deepseek-chat",
        "prompt": {
          "messages": [
            {
              "content": "=You are part of a team that creates world class blog posts. \n\nYou are the teams best copywriter and are responsible for writing out the actual blog post. \n\nFor each new blog post project you are provided with a detailed plan and research findings. \n\nYour job is to create the blog post by closely following the detailed plan. \n\nThe blog post you create must: \n\n- Follow the plan bit by bit. \n\n- Use short paragraphs. \n\n- Use bullet points and subheadings with keywords where appropriate.  \n\n- Not have any fluff. The content of the blog must be value dense and direct. \n\n- Be very detailed. \n\n- Include the keywords mentioned in each section within that section. \n\n- Use the research as advised by the plan. Make sure to include the link associated with each point you extract from the research at the end of that section in the form of a URL.  \n\n- Place the primary keyword in the blog title, H1 header and early in the introduction. \n\n- Place one keyword for each section in the heading of that section. \n\n-  When possible pepper synonyms of the keywords throughout each section. \n\n- When possible use Latent Semantic Indexing (LSI) keywords and related terms to enhance context (e.g., “robotic process automation” for RPA). \n\n- Be at minimum 2000 to 2500 words long. \n\n- Be suitable for a year 5 reading level. \n\nMake sure to create the entire blog post draft in your first output. Don't stop or cut it short. \n\nHere are the details of your next blog post project: \n\nDetailed Plan: \n{{ $json.message.content }}\n\nDetailed Research: \n{{ $('Fix Links1').item.json.research }}\n\n\nWrite the blog post."
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-deepseek.deepSeek",
      "typeVersion": 1,
      "position": [
        -2320,
        -860
      ],
      "id": "065245ea-0883-4711-9ee0-615d097d9603",
      "name": "DeepSeek2",
      "credentials": {
        "deepSeekApi": {
          "id": "qcWiXiGtRkBn5I1g",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "previous-posts",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -2000,
        -860
      ],
      "id": "fa6c9cd0-96f4-489a-8a53-18b836e27588",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "12QRaArKqPS3Xc5xWmVYfVNEtQfVXEez7w-D0y4lvXhQ",
          "mode": "list",
          "cachedResultName": "JoFrame - Previous Posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12QRaArKqPS3Xc5xWmVYfVNEtQfVXEez7w-D0y4lvXhQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 634298018,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12QRaArKqPS3Xc5xWmVYfVNEtQfVXEez7w-D0y4lvXhQ/edit#gid=634298018"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -2160,
        -860
      ],
      "id": "f22a620b-f6cf-412c-a1fb-c5c483f25801",
      "name": "Previous Posts1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8050CbIUTPPd5eLC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "model": "deepseek-chat",
        "prompt": {
          "messages": [
            {
              "content": "=You are part of a team that creates world class blog posts. \n\nYou are in charge of internal linking between blog posts. \n\nFor each new blog post that comes across your desk, your job is to look through previously posted blogs and make atleast 5 internal links. \n\nTo choose the best internal linking opportunities you must: \n\n- Read the previous blog post summaries and look through their keywords. If there is a match where the previous blog post is highly relevant, then this is an internal linking opportunity. \n\n- Do not link if it is not highly relevant. Only make a link if it makes sense and adds value for the reader. \n\nOnce you've found the best linking opportunities, you must update the blog post with the internal links. To do this you must: \n\n- Add the link of the previous blog post at the relevant section of the new blog post. Drop the URL at the place which makes most sense. Later we will hyperlink the URL to the word in the blog post which it is placed next to. So your placing is very important. \n\nMake sure to not delete any existing URLs or change anything about the blog post provided to you. You must only add new internal linking URLs and output the revised blog post. \n\nYour output must be the blog post given to you plus the new urls. Don't remove any info. \n\nDon't return the previous blog posts. Only return the current blog post with the internal links added.\n\nCurrent blog Post: \n{{ $('DeepSeek2').last().json.message.content }}\n\nPrevious Blog Posts: \n{{ $json['previous-posts'].toJsonString().split() }}\n\n"
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-deepseek.deepSeek",
      "typeVersion": 1,
      "position": [
        -1840,
        -860
      ],
      "id": "5c90a722-9455-4b17-9e92-15d42e0bea29",
      "name": "DeepSeek3",
      "credentials": {
        "deepSeekApi": {
          "id": "qcWiXiGtRkBn5I1g",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "model": "deepseek-chat",
        "prompt": {
          "messages": [
            {
              "content": "=content:{{ $json.message.content }}\n\nAnalyze the following content and categorize it into one of these four types:\n\nProduct Showcase → If it describes product features, specifications, and pricing.\n\nService Description → If it explains a service offering, process, or consultation.\n\nLead Generation → If the goal is to capture user details (e.g., sign up, free trial, booking).\n\nEducational Resource → If the focus is on providing knowledge, guides, or tutorials.\n\nReturn only the category name as a single word (Product, Service, Lead, or Education).\n\n"
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-deepseek.deepSeek",
      "typeVersion": 1,
      "position": [
        -1680,
        -860
      ],
      "id": "256db50f-4db2-4784-bcd3-5b821003838a",
      "name": "DeepSeek4",
      "credentials": {
        "deepSeekApi": {
          "id": "qcWiXiGtRkBn5I1g",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.content }}",
                    "rightValue": "Education",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "231306eb-9c99-4d01-8c4c-aef9d598addb"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0d9e7f11-b6b8-46a7-82ac-78765531c6a4",
                    "leftValue": "={{ $json.message.content }}",
                    "rightValue": "Service",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "82609943-ffa8-4eed-a218-8c3c45ac9152",
                    "leftValue": "={{ $json.message.content }}",
                    "rightValue": "Lead",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "da99ef04-c989-457a-91e5-8d477ddba39e",
                    "leftValue": "={{ $json.message.content }}",
                    "rightValue": "Product",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1520,
        -880
      ],
      "id": "a0d43d50-1cae-4427-b40f-0d81fbe10203",
      "name": "Switch1"
    },
    {
      "parameters": {
        "model": "deepseek-chat",
        "prompt": {
          "messages": [
            {
              "content": "=**Role:** You are an expert AI assistant functioning as a synergy of a **UI/UX designer**, **front-end developer (proficient in Tailwind CSS)**, **high-converting e-commerce copywriter**, and **SEO specialist**.\n\n**Content Input:**  \n```\n{{ $('DeepSeek3').item.json.message.content }}\n\n**Overall Task:** Generate a complete, professional, engaging, and conversion-optimized single-page landing page to sell a \"Lego Frame\" product. The output must be structured according to the specified JSON format, containing an SEO-optimized title and the complete HTML markup using **Tailwind CSS** for all styling, fully populated with compelling, SEO-informed copy, and adhering to all specified requirements.\n\n**Product Context & Details:**\n* **Product Name:** Premium Lego Minifigure Display Frame (or specify your exact name)\n* **Core Function:** To stylishly display and protect Lego minifigures.\n* **Target Audience:** Lego collectors (adults & kids), parents seeking organization/display solutions, gift-givers for Lego fans.\n* **Key Features:**\n    * Holds [Number of Minifigs] standard Lego minifigures.\n    * Crystal-clear, protective [e.g., acrylic, perspex] front cover.\n    * Frame constructed from [e.g., high-quality wood, durable plastic, aluminum].\n    * Easy access design for adding/swapping figures.\n    * Includes integrated wall-mounting hardware (and/or desk stand option).\n    * Available in [e.g., black, white, wood finish] colors/styles.\n    * Dimensions: [Provide approx. dimensions if available].\n* **Key Benefits:** Showcase collections beautifully, protect figures from dust/damage, organize clutter, turn minifigures into wall art, enhances room decor, perfect gift.\n\n**Landing Page Structure & Content Requirements (Generate directly into the HTML value within the JSON output):**\n\n1.  **Header Section:**\n    * **Structure:** Minimalist bar.\n    * **Content:** Placeholder for `[Your Brand Name]` logo on the left (use a simple text placeholder or an `<img>` tag with a placeholder `src`). Simple navigation links on the right: \"Features\", \"Gallery\", \"Shop\". Use appropriate Tailwind classes for layout and minimal styling.\n\n2.  **Hero Section:**\n    * **Structure:** Full-width section, visually impactful. Placeholder area for a background image (use comments or a placeholder div).\n    * **Copywriting:** Generate *one* compelling, benefit-driven **Headline** (e.g., \"Showcase Your Lego Minifigures in Style\"). Generate *one* concise **Subtext** expanding on the value (e.g., \"Protect, organize, and proudly display your favorite minifigs with our premium, easy-to-use frame.\"). Generate *one* clear, action-oriented **CTA Button Text** (e.g., \"Shop Frames Now\"). Integrate this copy directly into heading (h1/h2), paragraph (p), and button elements styled with Tailwind.\n\n3.  **Product Features & Benefits Section:**\n    * **Structure:** Use clear subheadings (e.g., \"Why Choose Our Frame?\"). Employ a layout (like a grid or alternating image/text blocks using Tailwind) suitable for showcasing 3-5 key features. Include placeholders for small icons or images related to features.\n    * **Copywriting:** For each key feature listed in \"Product Context & Details\" above, write a short description (1-2 sentences or bullet point) that clearly explains the feature AND emphasizes the resulting **benefit** for the customer. Integrate this copy directly. Focus on quality, protection, ease of use, and display aesthetics.\n\n4.  **Gallery/Inspiration Section:**\n    * **Structure:** Create a section with a heading like \"See It In Action\" or \"Collector Showcases\". Design a responsive grid (using Tailwind grid classes) to hold 4-6 placeholder images (`<img>` tags with placeholder `src` or colored divs) representing the frame in use in various settings or with different Lego themes.\n\n5.  **FAQ Section:**\n    * **Structure:** Include a heading (e.g., \"Frequently Asked Questions\"). Use an accordion structure (if feasible with basic Tailwind, otherwise simple Q&A pairs) for 4-5 questions.\n    * **Copywriting:** Generate 4-5 relevant **Questions** based on the product type (capacity, materials, dimensions, mounting, assembly, shipping). Generate a concise, helpful, and reassuring **Answer** for each question. Integrate Q&A directly into the structure.\n\n6.  **Call-to-Action (CTA) Section:**\n    * **Structure:** A visually distinct section designed to drive conversion.\n    * **Copywriting:** Generate *one* action-oriented **Headline** (e.g., \"Ready to Elevate Your Display?\"). Generate *one* strong **CTA Button Text** (e.g., \"Order Your Frame Today\"). Below the button, generate and list 3-4 concise **Trust Signals** as text snippets (e.g., \"✅ Secure Checkout\", \"⭐ Satisfaction Guaranteed\", \"🚚 Fast Shipping\"). Integrate directly.\n\n7.  **Footer Section:**\n    * **Structure:** Clean, minimal footer.\n    * **Content:** Include placeholders for: Copyright `&copy; [Year] [Your Brand Name]`. Links: \"Privacy Policy\", \"Terms & Conditions\". Placeholder social media icons (simple text links or placeholders for icons are fine): \"Instagram\", \"Pinterest\", \"Facebook\". Use appropriate Tailwind classes for layout.\n\n**Overall Styling & Technical Requirements (Apply within the HTML value):**\n* **Tailwind CSS:** Use Tailwind CSS classes *directly* within the HTML for ALL styling. Do not use `<style>` tags or external CSS files.\n* **Responsiveness:** The entire page MUST be fully responsive and look good on all screen sizes (mobile, tablet, desktop). Use mobile-first principles.\n* **Cleanliness & Consistency:** Maintain consistent spacing, typography sizes, and a modern, clean visual aesthetic throughout the page.\n* **Readability:** Ensure good contrast and legible font choices (use standard Tailwind font utilities).\n* **HTML Structure:** Use semantic HTML elements where appropriate (e.g., `<header>`, `<section>`, `<main>`, `<footer>`, `<nav>`, `<h1>`, `<button>`). Use comments `` etc., to delineate sections. Ensure the HTML includes `<!DOCTYPE html>`, `<html>`, `<head>`, and `<body>` tags.\n\n**SEO Requirement:**\n* **Title Generation:** Generate *one* SEO-optimized title string (under 60 characters) for the page, incorporating key product terms and `[Your Brand Name]`. This title string should be used for the `title` field in the JSON output, AND it must also be included within the `<title>` tags inside the `<head>` section of the HTML markup.\n\n**Final Output Format:**\n* **Strictly adhere** to the following JSON structure for your output:\n```json\n{\n  \"templateType\": \"educational-resource\",\n  \"title\": \"/* Place the generated SEO-optimized title string here */\",\n  \"html\": \"/* Place the COMPLETE generated HTML markup as a single string here, including <!DOCTYPE>, <html>, <head> with the <title> tag, <body>, and all sections with Tailwind classes and integrated content */\"\n}"
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-deepseek.deepSeek",
      "typeVersion": 1,
      "position": [
        -1280,
        -1080
      ],
      "id": "40e9e85d-d5b5-4ab2-9528-34d5a5cd8aa6",
      "name": "DeepSeek5",
      "credentials": {
        "deepSeekApi": {
          "id": "qcWiXiGtRkBn5I1g",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "model": "deepseek-chat",
        "prompt": {
          "messages": [
            {
              "content": "=content:{{ $json.message.content }}\n\nAnalyze the following content and categorize it into one of these four types:\n\nProduct Showcase → If it describes product features, specifications, and pricing.\n\nService Description → If it explains a service offering, process, or consultation.\n\nLead Generation → If the goal is to capture user details (e.g., sign up, free trial, booking).\n\nEducational Resource → If the focus is on providing knowledge, guides, or tutorials.\n\nReturn only the category name as a single word (Product, Service, Lead, or Education).\n\n"
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-deepseek.deepSeek",
      "typeVersion": 1,
      "position": [
        -1280,
        -920
      ],
      "id": "0565d547-5d8a-417f-84db-fda0c5e26d86",
      "name": "DeepSeek6",
      "credentials": {
        "deepSeekApi": {
          "id": "qcWiXiGtRkBn5I1g",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "model": "deepseek-chat",
        "prompt": {
          "messages": [
            {
              "content": "=content:{{ $json.message.content }}\n\nAnalyze the following content and categorize it into one of these four types:\n\nProduct Showcase → If it describes product features, specifications, and pricing.\n\nService Description → If it explains a service offering, process, or consultation.\n\nLead Generation → If the goal is to capture user details (e.g., sign up, free trial, booking).\n\nEducational Resource → If the focus is on providing knowledge, guides, or tutorials.\n\nReturn only the category name as a single word (Product, Service, Lead, or Education).\n\n"
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-deepseek.deepSeek",
      "typeVersion": 1,
      "position": [
        -1280,
        -760
      ],
      "id": "9467674d-c24f-4fde-8810-092bcc9b8a9c",
      "name": "DeepSeek7",
      "credentials": {
        "deepSeekApi": {
          "id": "qcWiXiGtRkBn5I1g",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "model": "deepseek-chat",
        "prompt": {
          "messages": [
            {
              "content": "=**Role:** You are an expert AI assistant functioning as a synergy of a **UI/UX designer**, **front-end developer (proficient in Tailwind CSS)**, **high-converting e-commerce copywriter**, and **SEO specialist**.\n\n**Content Input:**  \n```\n{{ $('DeepSeek3').item.json.message.content }}\n\n**Overall Task:** Generate a complete, professional, engaging, and conversion-optimized single-page landing page to sell a \"Lego Frame\" product. The output must be structured according to the specified JSON format, containing an SEO-optimized title and the complete HTML markup using **Tailwind CSS** for all styling, fully populated with compelling, SEO-informed copy, and adhering to all specified requirements.\n\n**Product Context & Details:**\n* **Product Name:** Premium Lego Minifigure Display Frame (or specify your exact name)\n* **Core Function:** To stylishly display and protect Lego minifigures.\n* **Target Audience:** Lego collectors (adults & kids), parents seeking organization/display solutions, gift-givers for Lego fans.\n* **Key Features:**\n    * Holds [Number of Minifigs] standard Lego minifigures.\n    * Crystal-clear, protective [e.g., acrylic, perspex] front cover.\n    * Frame constructed from [e.g., high-quality wood, durable plastic, aluminum].\n    * Easy access design for adding/swapping figures.\n    * Includes integrated wall-mounting hardware (and/or desk stand option).\n    * Available in [e.g., black, white, wood finish] colors/styles.\n    * Dimensions: [Provide approx. dimensions if available].\n* **Key Benefits:** Showcase collections beautifully, protect figures from dust/damage, organize clutter, turn minifigures into wall art, enhances room decor, perfect gift.\n\n**Landing Page Structure & Content Requirements (Generate directly into the HTML value within the JSON output):**\n\n1.  **Header Section:**\n    * **Structure:** Minimalist bar.\n    * **Content:** Placeholder for `[Your Brand Name]` logo on the left (use a simple text placeholder or an `<img>` tag with a placeholder `src`). Simple navigation links on the right: \"Features\", \"Gallery\", \"Shop\". Use appropriate Tailwind classes for layout and minimal styling.\n\n2.  **Hero Section:**\n    * **Structure:** Full-width section, visually impactful. Placeholder area for a background image (use comments or a placeholder div).\n    * **Copywriting:** Generate *one* compelling, benefit-driven **Headline** (e.g., \"Showcase Your Lego Minifigures in Style\"). Generate *one* concise **Subtext** expanding on the value (e.g., \"Protect, organize, and proudly display your favorite minifigs with our premium, easy-to-use frame.\"). Generate *one* clear, action-oriented **CTA Button Text** (e.g., \"Shop Frames Now\"). Integrate this copy directly into heading (h1/h2), paragraph (p), and button elements styled with Tailwind.\n\n3.  **Product Features & Benefits Section:**\n    * **Structure:** Use clear subheadings (e.g., \"Why Choose Our Frame?\"). Employ a layout (like a grid or alternating image/text blocks using Tailwind) suitable for showcasing 3-5 key features. Include placeholders for small icons or images related to features.\n    * **Copywriting:** For each key feature listed in \"Product Context & Details\" above, write a short description (1-2 sentences or bullet point) that clearly explains the feature AND emphasizes the resulting **benefit** for the customer. Integrate this copy directly. Focus on quality, protection, ease of use, and display aesthetics.\n\n4.  **Gallery/Inspiration Section:**\n    * **Structure:** Create a section with a heading like \"See It In Action\" or \"Collector Showcases\". Design a responsive grid (using Tailwind grid classes) to hold 4-6 placeholder images (`<img>` tags with placeholder `src` or colored divs) representing the frame in use in various settings or with different Lego themes.\n\n5.  **FAQ Section:**\n    * **Structure:** Include a heading (e.g., \"Frequently Asked Questions\"). Use an accordion structure (if feasible with basic Tailwind, otherwise simple Q&A pairs) for 4-5 questions.\n    * **Copywriting:** Generate 4-5 relevant **Questions** based on the product type (capacity, materials, dimensions, mounting, assembly, shipping). Generate a concise, helpful, and reassuring **Answer** for each question. Integrate Q&A directly into the structure.\n\n6.  **Call-to-Action (CTA) Section:**\n    * **Structure:** A visually distinct section designed to drive conversion.\n    * **Copywriting:** Generate *one* action-oriented **Headline** (e.g., \"Ready to Elevate Your Display?\"). Generate *one* strong **CTA Button Text** (e.g., \"Order Your Frame Today\"). Below the button, generate and list 3-4 concise **Trust Signals** as text snippets (e.g., \"✅ Secure Checkout\", \"⭐ Satisfaction Guaranteed\", \"🚚 Fast Shipping\"). Integrate directly.\n\n7.  **Footer Section:**\n    * **Structure:** Clean, minimal footer.\n    * **Content:** Include placeholders for: Copyright `&copy; [Year] [Your Brand Name]`. Links: \"Privacy Policy\", \"Terms & Conditions\". Placeholder social media icons (simple text links or placeholders for icons are fine): \"Instagram\", \"Pinterest\", \"Facebook\". Use appropriate Tailwind classes for layout.\n\n**Overall Styling & Technical Requirements (Apply within the HTML value):**\n* **Tailwind CSS:** Use Tailwind CSS classes *directly* within the HTML for ALL styling. Do not use `<style>` tags or external CSS files.\n* **Responsiveness:** The entire page MUST be fully responsive and look good on all screen sizes (mobile, tablet, desktop). Use mobile-first principles.\n* **Cleanliness & Consistency:** Maintain consistent spacing, typography sizes, and a modern, clean visual aesthetic throughout the page.\n* **Readability:** Ensure good contrast and legible font choices (use standard Tailwind font utilities).\n* **HTML Structure:** Use semantic HTML elements where appropriate (e.g., `<header>`, `<section>`, `<main>`, `<footer>`, `<nav>`, `<h1>`, `<button>`). Use comments `` etc., to delineate sections. Ensure the HTML includes `<!DOCTYPE html>`, `<html>`, `<head>`, and `<body>` tags.\n\n**SEO Requirement:**\n* **Title Generation:** Generate *one* SEO-optimized title string (under 60 characters) for the page, incorporating key product terms and `[Your Brand Name]`. This title string should be used for the `title` field in the JSON output, AND it must also be included within the `<title>` tags inside the `<head>` section of the HTML markup.\n\n**Final Output Format:**\n* **Strictly adhere** to the following JSON structure for your output:\n```json\n{\n  \"templateType\": \"educational-resource\",\n  \"title\": \"/* Place the generated SEO-optimized title string here */\",\n  \"html\": \"/* Place the COMPLETE generated HTML markup as a single string here, including <!DOCTYPE>, <html>, <head> with the <title> tag, <body>, and all sections with Tailwind classes and integrated content */\"\n}"
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-deepseek.deepSeek",
      "typeVersion": 1,
      "position": [
        -1280,
        -600
      ],
      "id": "7544fcf4-51f9-4049-b2ec-cbcd376d07d9",
      "name": "DeepSeek8",
      "credentials": {
        "deepSeekApi": {
          "id": "qcWiXiGtRkBn5I1g",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "model": "deepseek-chat",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "=Your task is to convert a given JSON object into a full HTML document.\n\nThe JSON object has the following structure:\n{\n  \"title\": \"String representing the page title\",\n  \"html\": \"String containing the HTML content for the page body\"\n}"
            },
            {
              "content": "={{ $json.message.content }}"
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-deepseek.deepSeek",
      "typeVersion": 1,
      "position": [
        -1040,
        -860
      ],
      "id": "f1020bf1-a454-41be-8b77-459f0d088490",
      "name": "DeepSeek9",
      "credentials": {
        "deepSeekApi": {
          "id": "qcWiXiGtRkBn5I1g",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n\n<html>\n<head>\n  <meta charset=\"UTF-8\" />\n    <script src=\"https://cdn.tailwindcss.com\"></script>\n  <title>{{ $json.message.content.title }}</title>\n</head>\n<body>\n{{ $json.message.content }}\n</body>\n</html>"
      },
      "id": "e04dc3a4-6333-43fe-8585-ed8adafca815",
      "name": "Format the HTML result1",
      "type": "n8n-nodes-base.html",
      "position": [
        -860,
        -860
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search?engine=google_images",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "serpApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $('Title').item.json.message.content }}"
            },
            {
              "name": "gl",
              "value": "us"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1020,
        -520
      ],
      "id": "9c5cc100-bb9c-4e4a-8ea6-b3b9e656e210",
      "name": "Image Covers1",
      "credentials": {
        "httpQueryAuth": {
          "id": "q1vXF4jgxqYIW87P",
          "name": "Query Auth account"
        },
        "serpApi": {
          "id": "Y3B3CXeloZCjU8Fo",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1f0541df-05ab-4e3d-a5d8-3904579fc8a9",
              "name": "image-url",
              "value": "={{ $json.images_results[1].original }}",
              "type": "string"
            },
            {
              "id": "010a7d85-5ed9-43fa-9a03-15d81b631015",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -840,
        -520
      ],
      "id": "5cf2d01d-5958-42f3-8600-826bb0825972",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1PkMdJdYhgdxuXsK8pUspKFvSAbmIAqf3y9i68Aqfw2k",
          "mode": "list",
          "cachedResultName": "JoFrame- Blog Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PkMdJdYhgdxuXsK8pUspKFvSAbmIAqf3y9i68Aqfw2k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1714539459,
          "mode": "list",
          "cachedResultName": "Pillar #1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PkMdJdYhgdxuXsK8pUspKFvSAbmIAqf3y9i68Aqfw2k/edit#gid=1714539459"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Primary Keyword": "{{ $('Grab New Cluster').last().json['Primary Keyword'] }}",
            "Completed": "Yes"
          },
          "matchingColumns": [
            "Primary Keyword"
          ],
          "schema": [
            {
              "id": "Cluster",
              "displayName": "Cluster",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Intent",
              "displayName": "Intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Keywords",
              "displayName": "Keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Primary Keyword",
              "displayName": "Primary Keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Faq",
              "displayName": "Faq",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Completed",
              "displayName": "Completed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -320,
        -520
      ],
      "id": "7d6bff73-aea7-47ad-9e0a-b8348a55b195",
      "name": "Check as completed on Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8050CbIUTPPd5eLC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1jtFve0KSexmY61apZnp3mqQmceOeZ-czznYK9pv_1sk",
          "mode": "list",
          "cachedResultName": "Previous Posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jtFve0KSexmY61apZnp3mqQmceOeZ-czznYK9pv_1sk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 634298018,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VBn94hh0caksH-Yk4h4BFZ80_sJJinIFxyWba9fQ8QQ/edit#gid=634298018"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Keywords": "={{ $('Grab New Cluster').last().json.Keywords }}",
            "URL": "=https://blogs.vistaratechnologies.in/{{ $('Slug').item.json.message.content }}",
            "Blog Title": "={{ $('Title').item.json.message.content }}",
            "Summary": "={{ $('Meta description').item.json.message.content }}",
            "Post ID": "={{ $('Wordpress1').item.json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Blog Title",
              "displayName": "Blog Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Keywords",
              "displayName": "Keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Post ID",
              "displayName": "Post ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "LINKDIN ",
              "displayName": "LINKDIN ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "FACEBOOK",
              "displayName": "FACEBOOK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -140,
        -520
      ],
      "id": "bb2c51d4-5294-47a6-9902-f2110c34f35a",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8050CbIUTPPd5eLC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Get Image\n\n\n\n \n \n",
        "height": 240,
        "width": 360
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1080,
        -600
      ],
      "typeVersion": 1,
      "id": "a78a5f24-51c7-4d9c-aa2b-89bedba963d6",
      "name": "Sticky Note19"
    },
    {
      "parameters": {
        "content": "## Post\n\n\n\n\n \n \n",
        "height": 240
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -680,
        -600
      ],
      "typeVersion": 1,
      "id": "9f6ddff0-6407-462d-a7ae-d549681ebbf7",
      "name": "Sticky Note20"
    },
    {
      "parameters": {
        "title": "={{ $('Title').item.json.message.content }}",
        "additionalFields": {
          "authorId": "={{ 1 }}",
          "content": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>{{ $json['title'] || 'Vistara Technologies' }}</title>\n\n  <!-- Load Tailwind CSS -->\n  <script src=\"https://cdn.tailwindcss.com\"></script>\n\n  <style>\n    .container { \n      max-width: 800px; \n      margin: auto; \n      background: white; \n      padding: 24px; \n      border-radius: 8px; \n      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); \n    }\n  </style>\n</head>\n<body class=\"bg-gray-100 p-6\">\n  \n  <!-- Navigation -->\n  <header class=\"bg-blue-600 text-white py-4 text-center text-xl font-bold\">\n    {{ $json['site_name'] || 'Vistara Technologies' }}\n  </header>\n\n  <div class=\"container my-8 p-6 bg-white rounded-lg shadow-lg\">\n    \n    <!-- Title -->\n    <h1 class=\"text-3xl font-bold text-gray-800\">{{ $('HTML version').item.json.message.content.title }}</h1>\n\n    <!-- Featured Image -->\n    <img src=\"{{ $json['image-url'] || 'default-image.jpg' }}\" \n         alt=\"{{ $json['title'] || 'Cover Image' }}\" \n         class=\"w-full mt-4 rounded-lg shadow-sm\">\n\n    <!-- Content Section -->\n    <div class=\"mt-6 text-gray-700\">\n       {{ $('HTML version').item.json.message.content.html }}\n    </div>\n\n    <!-- WPForms Contact Form (WordPress Integration Required) -->\n    <div class=\"mt-8 bg-gray-100 p-4 rounded-lg\">\n      <h2 class=\"text-xl font-semibold text-gray-800\">Get in Touch</h2>\n      <div id=\"wp-form-container\"></div>\n      <script>\n        document.getElementById('wp-form-container').innerHTML = `[wpforms id=\"26\" title=\"false\"]`;\n      </script>\n    </div>\n  </div>\n  \n  <!-- Footer -->\n  <footer class=\"text-center text-gray-600 py-4\">\n    &copy;{{ new Date().getFullYear() }} - {{ $json['site_name'] || 'Vistara Technologies' }}. All rights reserved.\n  </footer>\n\n</body>\n</html>\n",
          "slug": "={{ $('Slug').item.json.message.content }}",
          "status": "private",
          "commentStatus": "closed",
          "sticky": false,
          "categories": [
            1
          ],
          "tags": [],
          "postTemplate": {
            "values": {
              "elementor": false
            }
          }
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        -580,
        -520
      ],
      "id": "5bd942ef-b6bd-469b-b0d2-fb0133b84dca",
      "name": "Wordpress1",
      "credentials": {
        "wordpressApi": {
          "id": "UfjnDwZF36cesxyo",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Completion\n\n\n\n\n\n \n \n",
        "height": 240,
        "width": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -400,
        -600
      ],
      "typeVersion": 1,
      "id": "9bbdace6-d2ad-4c4b-9b5d-ae4e6d528f60",
      "name": "Sticky Note21"
    },
    {
      "parameters": {
        "model": "deepseek-chat",
        "prompt": {
          "messages": [
            {
              "content": "=Create a slug for the following blog post: \n{{ $('Add internal links').item.json.message.content }}\n\nA slug in a blog post is the part of the URL that comes after the domain name and identifies a specific page. It is typically a short, descriptive phrase that summarizes the content of the post, making it easier for users and search engines to understand what the page is about. For example, in the URL www.example.com/intelligent-agents, the slug is intelligent-agents. A good slug is concise, contains relevant keywords, and avoids unnecessary words to improve readability and SEO. \n\nThe slug must be 4 or 5 words max and must include the primary keyword of the blog post which is {{ $('Grab New Cluster').last().json['Primary Keyword'] }}.\n\nYour output must be the slug and nothing else so that I can copy and paste your output and put it at the end of my blog post URL to post it right away. "
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-deepseek.deepSeek",
      "typeVersion": 1,
      "position": [
        -660,
        -860
      ],
      "id": "860ea02b-ea70-479b-a90f-0733a8283d89",
      "name": "DeepSeek10",
      "credentials": {
        "deepSeekApi": {
          "id": "qcWiXiGtRkBn5I1g",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "model": "deepseek-chat",
        "prompt": {
          "messages": [
            {
              "content": "=Extract the blog post title from the following blog post: \n{{ $('Add internal links').item.json.message.content }}\n\n\n\nThe blog post title must include the primary keyword {{ $('Grab New Cluster').last().json['Primary Keyword'] }} and must inform the users right away of what they can expect from reading the blog post. \n\n- Don't put the output in \"\". The output should just text with no markdown or formatting. \n\nYour output must only be the blog post title and nothing else. "
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-deepseek.deepSeek",
      "typeVersion": 1,
      "position": [
        -460,
        -860
      ],
      "id": "d47ba82d-ea17-4ad8-83e1-16a1a0e052fc",
      "name": "DeepSeek11",
      "credentials": {
        "deepSeekApi": {
          "id": "qcWiXiGtRkBn5I1g",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "model": "deepseek-chat",
        "prompt": {
          "messages": [
            {
              "content": "=Create a good meta description for the following blog post: \n\n{{ $('Add internal links').item.json.message.content }}\n\nA good meta description for a blog post that is SEO-optimized should:\n- Be Concise: Stick to 150-160 characters to ensure the full description displays in search results. \n- Include Keywords: Incorporate primary keywords naturally to improve visibility and relevance to search queries.\n\nPrimary keyword = {{ $('Grab New Cluster').last().json['Primary Keyword'] }}\n\nMore keywords to include if possible = [{{ $('Grab New Cluster').last().json.Keywords }}]\n\n- Provide Value: Clearly describe what the reader will learn or gain by clicking the link. \n\n- Be Engaging: Use persuasive language, such as action verbs or a question, to encourage clicks. \n\n- Align with Content: Ensure the description accurately reflects the blog post to meet user expectations and reduce bounce rates. \n\nYour output must only be the meta description and nothing else. \n"
            },
            {
              "content": "={{ $json.message.content.html }}"
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-deepseek.deepSeek",
      "typeVersion": 1,
      "position": [
        -260,
        -860
      ],
      "id": "a9741827-86e1-41fc-bfbf-791cd01a3cf3",
      "name": "DeepSeek12",
      "credentials": {
        "deepSeekApi": {
          "id": "qcWiXiGtRkBn5I1g",
          "name": "DeepSeek account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-04-07T08:18:54.388Z",
      "updatedAt": "2025-04-07T08:18:54.388Z",
      "id": "neP6fa6igInGwFj1",
      "name": "marketing-automation"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-04-07T19:24:42.000Z",
  "versionId": "cf1c76b8-604e-4f9c-ab08-2b2a14d45d82"
}