workflows/K5ZfRRGwcPMEcHJl.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-23T06:12:09.384Z",
  "id": "K5ZfRRGwcPMEcHJl",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Get content AI",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-regenerate-content",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "be035f3b-55e8-4b70-8278-2bd99b798085",
      "name": "Webhook",
      "webhookId": "a4a0f67c-8632-4784-8bf9-a44265518ec6"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=hãy viết cho tôi 1 nội dung để {{ $json.body.purpose }} ngắn gọn trong 5 câu",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        220,
        0
      ],
      "id": "c44c7dfe-f614-424e-9959-223af49fd8bb",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.purpose }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        320,
        200
      ],
      "id": "4d15c71e-ccdc-4953-bda2-a1dff57b7dd0",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        220,
        200
      ],
      "id": "46ea0c6a-3b72-4174-ad34-38fda8034a9c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Vh1Kgy5ShKLBWvw4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        580,
        0
      ],
      "id": "6f599c87-1724-4168-97b6-0a8993513540",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-03-23T14:59:57.000Z",
  "versionId": "670b6d72-23bd-4a11-9ae4-73ecdedd34ce"
}