workflows/NVIFb5czndG030XQ.json
{
  "active": false,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Grab New Cluster",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grab New Cluster": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preliminary Plan": {
      "main": [
        [
          {
            "node": "Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fix Links": {
      "main": [
        [
          {
            "node": "Create plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create plan": {
      "main": [
        [
          {
            "node": "Write Blog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Blog": {
      "main": [
        [
          {
            "node": "Previous Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Add internal links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add internal links": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slug": {
      "main": [
        [
          {
            "node": "Title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Title": {
      "main": [
        [
          {
            "node": "Meta description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meta description": {
      "main": [
        [
          {
            "node": "Image Covers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Covers": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Wordpress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check as completed on Sheets": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wordpress": {
      "main": [
        [
          {
            "node": "Check as completed on Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research": {
      "main": [
        [
          {
            "node": "Fix Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Previous Posts": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format the HTML result": {
      "main": [
        [
          {
            "node": "Slug",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML version": {
      "main": [
        [
          {
            "node": "Format the HTML result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Education",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Service",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Education": {
      "main": [
        [
          {
            "node": "HTML version",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Service": {
      "main": [
        [
          {
            "node": "HTML version",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead": {
      "main": [
        [
          {
            "node": "HTML version",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Product": {
      "main": [
        [
          {
            "node": "HTML version",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Preliminary Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-07T08:19:25.592Z",
  "id": "NVIFb5czndG030XQ",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "2 1 * * 2"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -3600,
        440
      ],
      "id": "3ad6e643-bbaa-4bf7-ae09-09b6731da6c4",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1PkMdJdYhgdxuXsK8pUspKFvSAbmIAqf3y9i68Aqfw2k",
          "mode": "list",
          "cachedResultName": "JoFrame- Blog Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PkMdJdYhgdxuXsK8pUspKFvSAbmIAqf3y9i68Aqfw2k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1714539459,
          "mode": "list",
          "cachedResultName": "Pillar #1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PkMdJdYhgdxuXsK8pUspKFvSAbmIAqf3y9i68Aqfw2k/edit#gid=1714539459"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -3380,
        440
      ],
      "id": "df56aa1e-5842-4741-ba76-d54e5d4667a5",
      "name": "Grab New Cluster",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8050CbIUTPPd5eLC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4-turbo",
          "mode": "list",
          "cachedResultName": "GPT-4-TURBO"
        },
        "messages": {
          "values": [
            {
              "content": "=You are part of a team that creates world class blog posts. \n\nFor each new blog post project, you are provided with a list of keywords and search intent. \n\n- Keywords: The keywords are to what the blog post is meant to rank for. They are scattered throughout the blog and define the topic of the blog post. \n\n- Search intent: The search intent recognises the intent of the user when searching up the keyword which defines be the theme of the blog post, so they click on our blog to satisfy their search. \n\n- Primary keyword: Out of the keywords, there is one keyword known as the primary keyword. The primary keyword will go in the title and first few sentences. It is important that the topic of the blog post is related to the primary keyword so that you can place it into the title and introduction naturally. \n\n- Faq: The Faq (frequently asked questions) are for you to understand the user and public main focus. they are for the last part of the blog (always change the main company name which is present in faq to a general faq question so it doesnt have any guidlines problem )\n\nGiven a list of keywords and search intent, your job is to understand the goal of th e blog post, identify the thought process behind the flow of the blog post and come up with a preliminary plan for the post. \n\nYour output must: \n\n- Recognise the discussion points of the blog post.\n\n- Be in dot point format.\n\nYou must ensure that the plan created satisfies the search intent and revolves directly around the given keywords. \n\nWhen making the plan keep in mind that all keywords must be used in the final blog post. \n\nThe final goal of the project is to create a high quality, high value, highly relevant blog post that will satisfy the users search intent and give them everything they need to know about the topic. \n\nA new project just came across your desk with below keywords and search intent:\n\nKeywords: \n{{ $json.Keywords }}\n\nSearch intent: \n{{ $json.Intent }}\n\nPrimary keyword: \n{{ $json['Primary Keyword'] }}\n\nFaq:\n{{ $json.Faq }}\n\nCreate the preliminary plan."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -2860,
        440
      ],
      "id": "c5a5d379-3d09-44bf-a3b0-36f95b2703bd",
      "name": "Preliminary Plan",
      "credentials": {
        "openAiApi": {
          "id": "Vh1Kgy5ShKLBWvw4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "23b8e8c4-9191-415a-9661-1b60d413528a",
              "name": "research",
              "value": "={{ $json.choices[0].message.content.replaceAll(\"[1]\", \" - source: \" +$json.citations[0]).replaceAll(\"[2]\",\" source:\" +$json.citations[1]).replaceAll(\"[3]\",\" - source: \" +$json.citations[2]).replaceAll(\"[4]\",\" - source: \"+$json.citations[3]).replaceAll(\"[5]\",\" - source: \"+$json.citations[4]).replaceAll(\"[6]\",\" - source: \"+$json.citations[5]).replaceAll(\"[7]\",\" - source: \"+$json.citations[6]).replaceAll(\"[8]\",\" - source: \"+$json.citations[7]).replaceAll(\"[9]\",\" - source: \"+$json.citations[8]).replaceAll(\"[10]\",\" - source: \"+$json.citations[9]) }}",
              "type": "string"
            },
            {
              "id": "b4e23084-89ef-437b-9bb7-26fcd854aeb0",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2280,
        440
      ],
      "id": "0a192493-86e2-4713-819d-4d86b4307234",
      "name": "Fix Links"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are part of a team that creates world class blog posts. \n\nFor each new blog post project, you are provided with a list of keywords, a primary keyword, search intent, research findings and a preliminary blog post plan. Here's a definition of each of the inputs: \n\n- Keywords: These are the keywordswhich the blog post is meant to rank for on SEO. They should be scattered throughout the blog post intelligently to help with SEO. \n\n- Search intent: The search intent recognises the intent of the user when searching up the keyword. Our goal is to optimise the blog post to be highly relevant and valuable to the user, as such the search intent should be satisfied within the blog post. \n\n- Research findings: This is research found from very reputable resources in relation to the blog post. You must intelligently use this research to make your blog post more reputable. \n\n- Preliminary plan: Very basic plan set out by your colleague to kick off the blog post. \n\n- Primary keyword: Out of the keywords, there is one keyword known as the primary keyword. The primary keyword is the keyword which has the highest SEO importance and as such must go in the title and first few sentences of the blog post. It is important that the blog post is highly relevant to the primary keyword, so that it could be placed naturally into the title and introduction sections. \n\n- Faq: Top asked questions by users with answers\n\nGiven the said info, you must create a detailed plan for the blog post. \n \nYour output must: \n\n- Include a plan for the blog post.\n\n- Be in dot point format. \n\n- In each part of the blog post, you must mention which keywords should be placed. \n\nHere are the other things you must consider: \n\n- All keywords must be placed inside the blog post. For each section, mention which keywords to include. The keyword placement must feel natural and must make sense. \n\n- You must include all research points in the blog post. When including the research points, make sure to also include their source URL so that the copywriter can use them as hyperlinks. \n\n- You must ensure that the plan created satisfies the search intent and revolves directly around the given keywords. \n\n- Your plan must be very detailed. \n\n- Keep in mind the copywriter that will use your plan to write the blog post is not an expert in the topic of the blog post. So you should give them all the detail required so they can just turn it into nicely formatted paragraphs. So your plan should include all technical detail regarding each point to be in the blog post. For example instead of saying \"define X\", you must have \"define X as ...\". \n\n- The plan you create must have a flow that makes sense. \n\n- You must ensure the bog post will be highly detailed and satisfy the most important concepts regarding the topic. \n\n- You must ensure the Faq are mentioned without expliciexplicitly mentioning sensitive or public names , make the Faq public like question.\n\nA new project has just came across your desk with below details:\n\nKeywords: \n{{ $('Grab New Cluster').item.json.Keywords }} \n\nSearch intent: \n{{ $('Grab New Cluster').item.json.Intent }}\n\nPreliminary plan: \n{{ $('Preliminary Plan').item.json.message.content }}\n\nResearch findings: \n{{ $json.research }}\n\nPrimary keyword: \n{{ $('Grab New Cluster').item.json['Primary Keyword'] }}\n\nFaq:\n{{ $('Grab New Cluster').item.json.Faq }}\n\nCreate the detailed plan. \n\nYour output must only be the plan and nothing else. \n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -2060,
        440
      ],
      "id": "919b5021-cd36-4b1a-8a1d-0466f258d890",
      "name": "Create plan",
      "credentials": {
        "openAiApi": {
          "id": "Vh1Kgy5ShKLBWvw4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are part of a team that creates world class blog posts. \n\nYou are the teams best copywriter and are responsible for writing out the actual blog post. \n\nFor each new blog post project you are provided with a detailed plan and research findings. \n\nYour job is to create the blog post by closely following the detailed plan. \n\nThe blog post you create must: \n\n- Follow the plan bit by bit. \n\n- Use short paragraphs. \n\n- Use bullet points and subheadings with keywords where appropriate.  \n\n- Not have any fluff. The content of the blog must be value dense and direct. \n\n- Be very detailed. \n\n- Include the keywords mentioned in each section within that section. \n\n- Use the research as advised by the plan. Make sure to include the link associated with each point you extract from the research at the end of that section in the form of a URL.  \n\n- Place the primary keyword in the blog title, H1 header and early in the introduction. \n\n- Place one keyword for each section in the heading of that section. \n\n-  When possible pepper synonyms of the keywords throughout each section. \n\n- When possible use Latent Semantic Indexing (LSI) keywords and related terms to enhance context (e.g., “robotic process automation” for RPA). \n\n- Be at minimum 2000 to 2500 words long. \n\n- Be suitable for a year 5 reading level. \n\nMake sure to create the entire blog post draft in your first output. Don't stop or cut it short. \n\nHere are the details of your next blog post project: \n\nDetailed Plan: \n{{ $json.message.content }}\n\nDetailed Research: \n{{ $('Fix Links').item.json.research }}\n\n\nWrite the blog post."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1680,
        440
      ],
      "id": "c778ecea-6c5b-4ff6-b875-bee81ee1aa21",
      "name": "Write Blog",
      "credentials": {
        "openAiApi": {
          "id": "Vh1Kgy5ShKLBWvw4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "previous-posts",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1120,
        440
      ],
      "id": "c51726fb-ff5d-4ca4-8e59-b8ea39d0595f",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo-0125",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO-0125"
        },
        "messages": {
          "values": [
            {
              "content": "=You are part of a team that creates world class blog posts. \n\nYou are in charge of internal linking between blog posts. \n\nFor each new blog post that comes across your desk, your job is to look through previously posted blogs and make atleast 5 internal links. \n\nTo choose the best internal linking opportunities you must: \n\n- Read the previous blog post summaries and look through their keywords. If there is a match where the previous blog post is highly relevant, then this is an internal linking opportunity. \n\n- Do not link if it is not highly relevant. Only make a link if it makes sense and adds value for the reader. \n\nOnce you've found the best linking opportunities, you must update the blog post with the internal links. To do this you must: \n\n- Add the link of the previous blog post at the relevant section of the new blog post. Drop the URL at the place which makes most sense. Later we will hyperlink the URL to the word in the blog post which it is placed next to. So your placing is very important. \n\nMake sure to not delete any existing URLs or change anything about the blog post provided to you. You must only add new internal linking URLs and output the revised blog post. \n\nYour output must be the blog post given to you plus the new urls. Don't remove any info. \n\nDon't return the previous blog posts. Only return the current blog post with the internal links added.\n\nCurrent blog Post: \n{{ $('Write Blog').last().json.message.content }}\n\nPrevious Blog Posts: \n{{ $json['previous-posts'].toJsonString().split() }}\n\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -940,
        440
      ],
      "id": "3fdcd267-cf41-48f9-ad8b-17e988e1798d",
      "name": "Add internal links",
      "credentials": {
        "openAiApi": {
          "id": "Vh1Kgy5ShKLBWvw4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo-0125",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO-0125"
        },
        "messages": {
          "values": [
            {
              "content": "=Create a slug for the following blog post: \n{{ $('Add internal links').item.json.message.content }}\n\nA slug in a blog post is the part of the URL that comes after the domain name and identifies a specific page. It is typically a short, descriptive phrase that summarizes the content of the post, making it easier for users and search engines to understand what the page is about. For example, in the URL www.example.com/intelligent-agents, the slug is intelligent-agents. A good slug is concise, contains relevant keywords, and avoids unnecessary words to improve readability and SEO. \n\nThe slug must be 4 or 5 words max and must include the primary keyword of the blog post which is {{ $('Grab New Cluster').last().json['Primary Keyword'] }}.\n\nYour output must be the slug and nothing else so that I can copy and paste your output and put it at the end of my blog post URL to post it right away. "
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1100,
        440
      ],
      "id": "e19e4f07-171e-45d4-ad62-874534f4ff83",
      "name": "Slug",
      "credentials": {
        "openAiApi": {
          "id": "Vh1Kgy5ShKLBWvw4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo-0125",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO-0125"
        },
        "messages": {
          "values": [
            {
              "content": "=Extract the blog post title from the following blog post: \n{{ $('Add internal links').item.json.message.content }}\n\n\n\nThe blog post title must include the primary keyword {{ $('Grab New Cluster').last().json['Primary Keyword'] }} and must inform the users right away of what they can expect from reading the blog post. \n\n- Don't put the output in \"\". The output should just text with no markdown or formatting. \n\nYour output must only be the blog post title and nothing else. "
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1520,
        440
      ],
      "id": "28f3a493-d827-476a-8d1e-562f92f794ae",
      "name": "Title",
      "credentials": {
        "openAiApi": {
          "id": "Vh1Kgy5ShKLBWvw4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo-0125",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO-0125"
        },
        "messages": {
          "values": [
            {
              "content": "=Create a good meta description for the following blog post: \n\n{{ $('Add internal links').item.json.message.content }}\n\nA good meta description for a blog post that is SEO-optimized should:\n- Be Concise: Stick to 150-160 characters to ensure the full description displays in search results. \n- Include Keywords: Incorporate primary keywords naturally to improve visibility and relevance to search queries.\n\nPrimary keyword = {{ $('Grab New Cluster').last().json['Primary Keyword'] }}\n\nMore keywords to include if possible = [{{ $('Grab New Cluster').last().json.Keywords }}]\n\n- Provide Value: Clearly describe what the reader will learn or gain by clicking the link. \n\n- Be Engaging: Use persuasive language, such as action verbs or a question, to encourage clicks. \n\n- Align with Content: Ensure the description accurately reflects the blog post to meet user expectations and reduce bounce rates. \n\nYour output must only be the meta description and nothing else. \n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1860,
        440
      ],
      "id": "5ca4fffe-7281-40e1-a758-d12ed189eb1e",
      "name": "Meta description",
      "credentials": {
        "openAiApi": {
          "id": "Vh1Kgy5ShKLBWvw4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search?engine=google_images",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "serpApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $('Title').item.json.message.content }}"
            },
            {
              "name": "gl",
              "value": "us"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2280,
        440
      ],
      "id": "b95cd332-64d8-4a85-b2ce-5db2d811380f",
      "name": "Image Covers",
      "credentials": {
        "httpQueryAuth": {
          "id": "q1vXF4jgxqYIW87P",
          "name": "Query Auth account"
        },
        "serpApi": {
          "id": "Y3B3CXeloZCjU8Fo",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1f0541df-05ab-4e3d-a5d8-3904579fc8a9",
              "name": "image-url",
              "value": "={{ $json.images_results[1].original }}",
              "type": "string"
            },
            {
              "id": "010a7d85-5ed9-43fa-9a03-15d81b631015",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2460,
        440
      ],
      "id": "d379af53-bfbe-4571-b474-5b19236f91c8",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1PkMdJdYhgdxuXsK8pUspKFvSAbmIAqf3y9i68Aqfw2k",
          "mode": "list",
          "cachedResultName": "JoFrame- Blog Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PkMdJdYhgdxuXsK8pUspKFvSAbmIAqf3y9i68Aqfw2k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1714539459,
          "mode": "list",
          "cachedResultName": "Pillar #1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PkMdJdYhgdxuXsK8pUspKFvSAbmIAqf3y9i68Aqfw2k/edit#gid=1714539459"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Primary Keyword": "{{ $('Grab New Cluster').last().json['Primary Keyword'] }}"
          },
          "matchingColumns": [
            "Primary Keyword"
          ],
          "schema": [
            {
              "id": "Cluster",
              "displayName": "Cluster",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Intent",
              "displayName": "Intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Keywords",
              "displayName": "Keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Primary Keyword",
              "displayName": "Primary Keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Faq",
              "displayName": "Faq",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Completed",
              "displayName": "Completed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2900,
        440
      ],
      "id": "6f68ed50-26cb-48ce-90f8-256d5f4e9e49",
      "name": "Check as completed on Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8050CbIUTPPd5eLC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1jtFve0KSexmY61apZnp3mqQmceOeZ-czznYK9pv_1sk",
          "mode": "list",
          "cachedResultName": "Previous Posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jtFve0KSexmY61apZnp3mqQmceOeZ-czznYK9pv_1sk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 634298018,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VBn94hh0caksH-Yk4h4BFZ80_sJJinIFxyWba9fQ8QQ/edit#gid=634298018"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Keywords": "={{ $('Grab New Cluster').last().json.Keywords }}",
            "URL": "=https://blogs.vistaratechnologies.in/{{ $('Slug').item.json.message.content }}",
            "Blog Title": "={{ $('Title').item.json.message.content }}",
            "Summary": "={{ $('Meta description').item.json.message.content }}",
            "Post ID": "={{ $('Wordpress').item.json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Blog Title",
              "displayName": "Blog Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Keywords",
              "displayName": "Keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Post ID",
              "displayName": "Post ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "LINKDIN ",
              "displayName": "LINKDIN ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "FACEBOOK",
              "displayName": "FACEBOOK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3080,
        440
      ],
      "id": "88c90807-42fc-4e0f-8cce-4138a549369d",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8050CbIUTPPd5eLC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Schedule a trigger\n \n",
        "height": 240,
        "width": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3680,
        360
      ],
      "typeVersion": 1,
      "id": "5b504b24-50ed-4461-bc4b-6534cf49d8cb",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## New Post Info\n \n",
        "height": 240
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3440,
        360
      ],
      "typeVersion": 1,
      "id": "ff994028-40f7-4c15-bca9-72a789230a10",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Preliminary Post Plan \n \n",
        "height": 240,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2880,
        360
      ],
      "typeVersion": 1,
      "id": "ac5891f7-4b35-4e6f-bcc1-d4681bad00e3",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Research\n \n \n",
        "height": 240,
        "width": 180
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2540,
        360
      ],
      "typeVersion": 1,
      "id": "99308b8f-10ad-477e-bd55-0a5a6cef4017",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Post Plan \n \n",
        "height": 240,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2080,
        360
      ],
      "typeVersion": 1,
      "id": "82f51bb1-4268-4dc5-b9e8-b3e935a1f6e7",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Writing Blog\n \n \n",
        "height": 240,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1700,
        360
      ],
      "typeVersion": 1,
      "id": "269c2a97-4117-40c7-bef4-9f33008f552d",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Internal Links\n \n \n",
        "height": 240,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -960,
        360
      ],
      "typeVersion": 1,
      "id": "732d5ac9-a544-472b-a6f4-8afdd79f5b8f",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## HTML\n\n \n \n",
        "height": 300,
        "width": 500
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        480,
        360
      ],
      "typeVersion": 1,
      "id": "f6572fa4-de28-4455-860e-564057f5b78c",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Slug\n\n\n \n \n",
        "height": 240,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1060,
        380
      ],
      "typeVersion": 1,
      "id": "146df8e5-f6e7-4373-9937-183e710e3a98",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## Post Title\n\n\n \n \n",
        "height": 240,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1500,
        360
      ],
      "typeVersion": 1,
      "id": "63493e88-ea2a-4e8c-9b1c-e4e8da1f33d8",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## Meta Description\n\n\n \n \n",
        "height": 240,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1840,
        360
      ],
      "typeVersion": 1,
      "id": "0fe8850f-e36b-4547-9528-0a37a4b10a61",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "## Get Image\n\n\n\n \n \n",
        "height": 240,
        "width": 360
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2220,
        360
      ],
      "typeVersion": 1,
      "id": "5da692bf-c50d-4fd0-b59b-f2d2fc4470ce",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "## Post\n\n\n\n\n \n \n",
        "height": 240
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2580,
        360
      ],
      "typeVersion": 1,
      "id": "0ba444c6-d92f-4f62-ae62-8feac39711e5",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "title": "={{ $('Title').item.json.message.content }}",
        "additionalFields": {
          "authorId": "={{ 1 }}",
          "content": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>{{ $json['title'] || 'Vistara Technologies' }}</title>\n\n  <!-- Load Tailwind CSS -->\n  <script src=\"https://cdn.tailwindcss.com\"></script>\n\n  <style>\n    .container { \n      max-width: 800px; \n      margin: auto; \n      background: white; \n      padding: 24px; \n      border-radius: 8px; \n      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); \n    }\n  </style>\n</head>\n<body class=\"bg-gray-100 p-6\">\n  \n  <!-- Navigation -->\n  <header class=\"bg-blue-600 text-white py-4 text-center text-xl font-bold\">\n    {{ $json['site_name'] || 'Vistara Technologies' }}\n  </header>\n\n  <div class=\"container my-8 p-6 bg-white rounded-lg shadow-lg\">\n    \n    <!-- Title -->\n    <h1 class=\"text-3xl font-bold text-gray-800\">{{ $('HTML version').item.json.message.content.title }}</h1>\n\n    <!-- Featured Image -->\n    <img src=\"{{ $json['image-url'] || 'default-image.jpg' }}\" \n         alt=\"{{ $json['title'] || 'Cover Image' }}\" \n         class=\"w-full mt-4 rounded-lg shadow-sm\">\n\n    <!-- Content Section -->\n    <div class=\"mt-6 text-gray-700\">\n       {{ $('HTML version').item.json.message.content.html }}\n    </div>\n\n    <!-- WPForms Contact Form (WordPress Integration Required) -->\n    <div class=\"mt-8 bg-gray-100 p-4 rounded-lg\">\n      <h2 class=\"text-xl font-semibold text-gray-800\">Get in Touch</h2>\n      <div id=\"wp-form-container\"></div>\n      <script>\n        document.getElementById('wp-form-container').innerHTML = `[wpforms id=\"26\" title=\"false\"]`;\n      </script>\n    </div>\n  </div>\n  \n  <!-- Footer -->\n  <footer class=\"text-center text-gray-600 py-4\">\n    &copy;{{ new Date().getFullYear() }} - {{ $json['site_name'] || 'Vistara Technologies' }}. All rights reserved.\n  </footer>\n\n</body>\n</html>\n",
          "slug": "={{ $('Slug').item.json.message.content }}",
          "status": "private",
          "commentStatus": "closed",
          "sticky": false,
          "categories": [
            1
          ],
          "tags": [],
          "postTemplate": {
            "values": {
              "elementor": false
            }
          }
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        2680,
        440
      ],
      "id": "a603ef2f-281b-48c4-9207-a66e36354e2e",
      "name": "Wordpress",
      "credentials": {
        "wordpressApi": {
          "id": "WQQUHndipKphCibb",
          "name": "Wordpress account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## Completion\n\n\n\n\n\n \n \n",
        "height": 240,
        "width": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2820,
        360
      ],
      "typeVersion": 1,
      "id": "7f28c896-9f19-48b5-a1ab-a5d889ad1d27",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "# WORDPRESS & SOCIAL MEDIA\n # SEO POST\n\n \n \n",
        "height": 180,
        "width": 580,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3400,
        100
      ],
      "typeVersion": 1,
      "id": "e96d34ef-a92b-4b71-b31f-1276e5935728",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "perplexityApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Act as a professional news researcher who is capable of finding detailed summaries about a news topic from highly reputable sources.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.message.content.split(/\\n+/).join(' ').replaceAll('\"', ' ') }}\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2500,
        440
      ],
      "id": "f2b4dbe3-2f9b-40ff-a354-fd30ed718151",
      "name": "Research",
      "credentials": {
        "httpHeaderAuth": {
          "id": "LefkKfB5CWEVKd33",
          "name": "Perflexity"
        },
        "httpBasicAuth": {
          "id": "fAUyNaUXkXkwRySV",
          "name": "Per"
        },
        "perplexityApi": {
          "id": "HRz7NmRmVhN4ng0D",
          "name": "Perplexity account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1jtFve0KSexmY61apZnp3mqQmceOeZ-czznYK9pv_1sk",
          "mode": "list",
          "cachedResultName": "Previous Posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jtFve0KSexmY61apZnp3mqQmceOeZ-czznYK9pv_1sk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 634298018,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jtFve0KSexmY61apZnp3mqQmceOeZ-czznYK9pv_1sk/edit#gid=634298018"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1320,
        440
      ],
      "id": "8d6c78c7-0093-4582-9f92-7e99a1c70126",
      "name": "Previous Posts",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8050CbIUTPPd5eLC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n\n<html>\n<head>\n  <meta charset=\"UTF-8\" />\n    <script src=\"https://cdn.tailwindcss.com\"></script>\n  <title>{{ $json.message.content.title }}</title>\n</head>\n<body>\n{{ $json.message.content.html }}\n</body>\n</html>"
      },
      "id": "0a6a7c12-a73d-4223-afb5-75512b5b5b2e",
      "name": "Format the HTML result",
      "type": "n8n-nodes-base.html",
      "position": [
        820,
        440
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "You convert a JSON to HTML. \nThe JSON output has the following fields:\n- html: the page HTML\n- title: the page title",
              "role": "system"
            },
            {
              "content": "={{ $json.message.content.html }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "temperature": 0.2
        }
      },
      "id": "41e3cae1-6e39-4aef-80b2-d6f3a0b4efbc",
      "name": "HTML version",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        500,
        440
      ],
      "typeVersion": 1.3,
      "credentials": {
        "openAiApi": {
          "id": "Vh1Kgy5ShKLBWvw4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.content }}",
                    "rightValue": "Education",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "231306eb-9c99-4d01-8c4c-aef9d598addb"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0d9e7f11-b6b8-46a7-82ac-78765531c6a4",
                    "leftValue": "={{ $json.message.content }}",
                    "rightValue": "Service",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "82609943-ffa8-4eed-a218-8c3c45ac9152",
                    "leftValue": "={{ $json.message.content }}",
                    "rightValue": "Lead",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "da99ef04-c989-457a-91e5-8d477ddba39e",
                    "leftValue": "={{ $json.message.content }}",
                    "rightValue": "Product",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -200,
        420
      ],
      "id": "3e866942-755c-4f48-885e-4687a1b00c01",
      "name": "Switch"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=content:{{ $json.message.content }}\n\nAnalyze the following content and categorize it into one of these four types:\n\nProduct Showcase → If it describes product features, specifications, and pricing.\n\nService Description → If it explains a service offering, process, or consultation.\n\nLead Generation → If the goal is to capture user details (e.g., sign up, free trial, booking).\n\nEducational Resource → If the focus is on providing knowledge, guides, or tutorials.\n\nReturn only the category name as a single word (Product, Service, Lead, or Education).\n\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -520,
        440
      ],
      "id": "942dff9c-29a4-47b9-8dca-1e09c9243057",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "Vh1Kgy5ShKLBWvw4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=> **Role:**  \n> You are an expert **UI/UX designer** and **high-converting copywriter** specializing in **SEO-optimized educational landing pages**. Your job is to generate a **professional, engaging, and conversion-friendly** landing page using **Tailwind CSS** based on the provided content.  \n>   \n> Your output should be structured, visually appealing, and optimized for **readability, engagement, and lead generation**.  \n\n---\n\n### **Content Input:**  \n```\n{{ $('Add internal links').item.json.message.content }}\n```  \n\n---\n\n## **Landing Page Structure (Conversion-Optimized)**  \n\n### **1. Header Section (Navigation & Branding)**  \n- **Logo**: Display the company logo using the following image:\n  ```html\n  <img src=\"https://www.vistaratechnologies.in/wp-content/uploads/2025/03/1-2-1024x291.png\" alt=\"Vistara Technologies Logo\" class=\"h-10 w-auto\">\n  ```  \n- Clean, **minimal UI for distraction-free reading**  \n\n---\n\n### **2. Hero Section (First Fold) – Strong Hook**  \n- **Engaging headline** that clearly introduces the educational topic  \n- **Concise, compelling subtext** emphasizing the core learning outcome  \n- **Visually appealing CTA button** (if applicable, e.g., “Start Learning,” “Download Guide”)  \n- Background **image, icon, or illustration** to enhance appeal  \n\n---\n\n### **3. Educational Content Section (Structured for Clarity & Engagement)**  \n- **Clear subheadings & logical content flow** for better readability  \n- Use **bullet points, numbered lists, and short paragraphs** to improve skimming  \n- **Real-life examples, case studies, or statistics** to add credibility  \n- **Engaging visuals, infographics, or illustrations** for visual appeal  \n- **Key takeaways or summary box** at the end for retention  \n\n---\n\n### **4. Additional Learning Resources (Optional but Recommended)**  \n- Links to **related blog posts, guides, research papers, or courses**  \n- **Downloadable PDFs, checklists, or toolkits** (if applicable)  \n- **Embedded video or tutorial content** for enhanced engagement  \n\n---\n\n### **5. FAQ Section (Boosts Engagement & SEO)**  \n- AI extracts **4-5 of the most relevant questions** related to the topic  \n- Answers should be **concise, benefit-driven, and conversational**  \n\n---\n\n### **6. Call-to-Action (Optional but Powerful for Lead Capture)**  \n- If the content is **actionable**, include a **CTA button** (e.g., “Sign Up for Free,” “Download the Guide”)  \n- **Trust signals** (e.g., \"Join 50,000+ learners,\" \"No spam, unsubscribe anytime\")  \n\n---\n\n### **7. Footer – Professional & SEO-Optimized**  \n- **Copyright notice**  \n- **Quick links** (Privacy Policy, Terms & Conditions, Contact)  \n- **Social media icons for easy sharing**  \n- Clean, minimal **SEO-optimized footer layout**  \n\n---\n\n## **Tailwind CSS Styling Requirements:**  \n✅ **Fully mobile-responsive** (Optimized for all devices)  \n✅ **Consistent spacing, typography, and readability**  \n✅ **Modern, clean UI with subtle animations**  \n✅ **Dark/light mode support (optional but recommended)**  \n✅ **Clear, high-contrast CTA buttons for better engagement**  \n\n---\n\n## **Output Format**  \n```json\n{\n  \"templateType\": \"educational-resource\",\n  \"title\": \"SEO-optimized, keyword-rich title\",\n  \"html\": \"Complete, structured, and mobile-optimized HTML markup for the landing page\"\n}\n```\n\n"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        60,
        100
      ],
      "id": "bcba0a6b-1fc8-4896-9cba-e2af0dd4707e",
      "name": "Education",
      "credentials": {
        "openAiApi": {
          "id": "Vh1Kgy5ShKLBWvw4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=> **Role:**  \n> You are an expert **UI/UX designer** and **high-converting copywriter** specializing in **SEO-optimized service landing pages**. Your task is to generate a **professional, engaging, and conversion-focused** landing page using **Tailwind CSS** based on the provided content.  \n>   \n> Your output should be **highly persuasive**, designed to **build trust, highlight benefits, and drive inquiries or bookings**.  \n\n---\n\n### **Content Input:**  \n```  \n{{ $('Add internal links').item.json.message.content }}  \n```  \n\n---\n\n## **Landing Page Structure (Conversion-Optimized)**  \n\n### **1. Header Section (Navigation & Branding)**  \n-  **Logo**: Display the company logo using the following image:\n  ```html\n  <img src=\"https://www.vistaratechnologies.in/wp-content/uploads/2025/03/1-2-1024x291.png\" alt=\"Vistara Technologies Logo\" class=\"h-10 w-auto\">\n  ``` \n- Clean, minimal UI for **distraction-free browsing**  \n\n---\n\n### **2. Hero Section (First Fold) – Strong Hook**  \n- **Powerful, benefit-driven headline**  \n- **Supporting subtext** highlighting key benefits & pain points solved  \n- **Visually appealing CTA button** (e.g., “Get a Free Quote,” “Book a Consultation”)  \n- Background image, icon, or **customer success visual**  \n\n---\n\n### **3. Service Overview (Clear Value Proposition)**  \n- **What the service is & who it’s for**  \n- **Key features/benefits in bullet points**  \n- **Social proof or trust badges** (if applicable)  \n\n---\n\n### **4. Detailed Service Breakdown (Trust-Building & Clarity)**  \n- **How the service works (step-by-step if needed)**  \n- **Unique selling points (What makes this service stand out?)**  \n- **Pricing (if applicable) or clear CTA to get a quote**  \n\n---\n\n### **5. Testimonials & Social Proof (Boost Trust & Conversions)**  \n- **Real customer reviews** (if available)  \n- **Case studies or success stories**  \n- **Logos of past clients (if applicable)**  \n\n---\n\n### **6. Call-to-Action (Clear, Persuasive, and Urgent)**  \n- **Primary CTA button** (e.g., “Book a Free Consultation,” “Request a Demo”)  \n- **Secondary CTA (if needed, e.g., “Learn More”)**  \n- **Urgency triggers** (Limited slots, “Offer ends soon,” etc.)  \n\n---\n\n### **7. FAQ Section (Boosts Engagement & SEO)**  \n- AI extracts **4-5 of the most relevant user questions**  \n- Answers should be **clear, concise, and benefit-driven**  \n\n---\n\n### **8. Footer – Professional & SEO-Optimized**  \n- **Copyright notice**  \n- **Quick links (Privacy Policy, Terms & Conditions, Contact Info)**  \n- **Social media icons for credibility**  \n- **SEO-optimized structured footer**  \n\n---\n\n## **Tailwind CSS Styling Requirements:**  \n✅ **Fully mobile-responsive**  \n✅ **Consistent spacing, typography, and readability**  \n✅ **Modern, clean UI with subtle animations**  \n✅ **High-contrast CTA buttons for strong conversions**  \n\n---\n\n## **Output Format**  \n{  \n  \"templateType\": \"service-description\",  \n  \"title\": \"SEO-optimized, conversion-driven title\",  \n  \"html\": \"Complete, structured, and mobile-optimized HTML markup for the service landing page\"  \n}  \n"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        60,
        320
      ],
      "id": "4b940c2f-02dc-4513-a152-ae4f61b74466",
      "name": "Service",
      "credentials": {
        "openAiApi": {
          "id": "Vh1Kgy5ShKLBWvw4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=> **Role:**  \n> You are an expert **UI/UX designer** and **high-converting copywriter** specializing in **SEO-optimized lead generation landing pages**. Your job is to generate a **highly persuasive, professional, and conversion-focused** landing page using **Tailwind CSS** based on the provided content.  \n>   \n> Your output should be structured to maximize **lead capture, engagement, and trust-building** while maintaining a clean and visually appealing layout.  \n\n---\n\n### **Content Input:**  \n```  \n{{ $('Add internal links').item.json.message.content }}  \n```  \n\n---\n\n## **Landing Page Structure (Conversion-Optimized)**  \n\n### **1. Header Section (Navigation & Branding)**  \n- **Logo**: Display the company logo using the following image:\n  ```html\n  <img src=\"https://www.vistaratechnologies.in/wp-content/uploads/2025/03/1-2-1024x291.png\" alt=\"Vistara Technologies Logo\" class=\"h-10 w-auto\">\n  ```  \n- Optional **“Sign In” or “Get Started” button** for returning users  \n\n---\n\n### **2. Hero Section (Strong Hook & Value Proposition)**  \n- **Powerful, benefit-driven headline** to capture attention  \n- **Concise subtext** reinforcing the key value proposition  \n- **High-contrast lead capture form** (Name, Email, Phone, etc.)  \n- **Strong CTA button** (e.g., “Get Free Access,” “Claim Your Offer”)  \n- **Trust badges or social proof** (e.g., “100,000+ happy users”)  \n\n---\n\n### **3. Key Benefits & Features**  \n- **Three-column layout** showcasing the main benefits  \n- **Icons + short descriptions** for readability  \n- Focus on **how the service/product solves user pain points**  \n\n---\n\n### **4. Lead Magnet (Incentive for Sign-Up)**  \n- Highlight **exclusive benefits** (e.g., “Free Trial,” “Bonus Guide”)  \n- Use **FOMO triggers** (Limited-time offer, “Only X spots left”)  \n- **Short bullet points** on what the user will gain  \n\n---\n\n### **5. Social Proof & Testimonials**  \n- **Real customer reviews, case studies, or video testimonials**  \n- **Logos of featured publications or partners** (if available)  \n- Trust signals such as **star ratings or success metrics**  \n\n---\n\n### **6. Call-to-Action (Reinforced for Conversions)**  \n- **Bold CTA with clear instructions** (e.g., “Sign Up Now”)  \n- **Urgency & scarcity elements** to encourage action  \n- **No-risk assurance** (e.g., “No credit card required”)  \n\n---\n\n### **7. FAQ Section (Reduces Hesitations & Boosts Trust)**  \n- AI extracts **4-5 most relevant questions** about the offer  \n- Answers should be **concise, benefit-driven, and persuasive**  \n\n---\n\n### **8. Footer – Professional & SEO-Optimized**  \n- **Copyright notice**  \n- **Quick links** (Privacy Policy, Terms & Conditions, Contact)  \n- **Social media icons** (if applicable)  \n- **SEO-friendly minimal footer layout**  \n\n---\n\n## **Tailwind CSS Styling Requirements:**  \n✅ **Fully mobile-responsive**  \n✅ **Consistent spacing, typography, and readability**  \n✅ **Modern, clean UI with subtle animations**  \n✅ **Dark/light mode support (optional but recommended)**  \n✅ **High-contrast CTA buttons for better engagement**  \n\n---\n\n## **Output Format**  \n{  \n  \"templateType\": \"lead-generation\",  \n  \"title\": \"SEO-optimized, high-converting title\",  \n  \"html\": \"Complete, structured, and mobile-optimized HTML markup for the landing page\"  \n}  \n"
            }
          ]
        },
        "simplify": "={{ true }}",
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        60,
        540
      ],
      "id": "b2cd3585-b07b-4568-a69f-a22fc4d690fa",
      "name": "Lead",
      "credentials": {
        "openAiApi": {
          "id": "Vh1Kgy5ShKLBWvw4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=> **Role:**  \n> You are an expert **UI/UX designer** and **high-converting copywriter** specializing in **SEO-optimized product landing pages**. Your job is to generate a **professional, engaging, and conversion-focused** landing page using **Tailwind CSS** based on the provided content.  \n>   \n> Your output should be structured, visually appealing, and optimized for **readability, engagement, and lead generation**.  \n\n---\n\n### **Content Input:**  \n```  \n{{ $('Add internal links').item.json.message.content }}  \n```  \n\n---\n\n## **Landing Page Structure (Conversion-Optimized)**  \n\n### **1. Header Section (Navigation & Branding)**  \n-  **Logo**: Display the company logo using the following image:\n  ```html\n  <img src=\"https://www.vistaratechnologies.in/wp-content/uploads/2025/03/1-2-1024x291.png\" alt=\"Vistara Technologies Logo\" class=\"h-10 w-auto\">\n  ```  \n- Clean, **minimal UI for distraction-free browsing**  \n\n---\n\n### **2. Hero Section (First Fold) – Strong Hook**  \n- **Powerful, engaging headline** that clearly communicates the product’s core value proposition  \n- **Concise, compelling subtext** highlighting the main benefits  \n- **Visually appealing CTA button** (e.g., “Buy Now,” “Get Started,” “Try for Free”)  \n- Background **image, icon, or product showcase illustration** to enhance appeal  \n\n---\n\n### **3. Product Features & Benefits**  \n- **Three-column layout** showcasing key product features  \n- Use **icons + short descriptions** for easy skimming  \n- **Focus on user pain points & solutions**  \n- Include a **feature comparison table (if applicable)**  \n\n---\n\n### **4. Social Proof & Testimonials**  \n- **User testimonials or case studies** for credibility  \n- **Logos of trusted brands or media mentions** (if applicable)  \n- **Star ratings and real customer reviews**  \n\n---\n\n### **5. Pricing Section (If applicable)**  \n- Clear, **easy-to-read pricing table** with feature breakdowns  \n- Highlight **best-value plan with subtle UI emphasis**  \n- Include **money-back guarantee or risk-free trial statement**  \n\n---\n\n### **6. Call-to-Action (CTA) – Strong Persuasion**  \n- A **clear, high-contrast CTA button**  \n- **Urgency triggers** (Limited-time offer, “Only X spots left,” etc.)  \n- **Trust signals** (Secure Payment, Money-back Guarantee, etc.)  \n\n---\n\n### **7. FAQ Section (Boosts Engagement & SEO)**  \n- AI extracts **4-5 most relevant questions** potential customers might ask  \n- Answers should be **concise, benefit-driven, and conversational**  \n\n---\n\n### **8. Footer – Professional & SEO-Optimized**  \n- **Copyright notice**  \n- **Quick links** (Privacy Policy, Terms & Conditions, Support)  \n- **Social media icons for easy sharing**  \n- Clean, minimal **SEO-optimized footer layout**  \n\n---\n\n## **Tailwind CSS Styling Requirements:**  \n✅ **Fully mobile-responsive** (Optimized for all devices)  \n✅ **Consistent spacing, typography, and readability**  \n✅ **Modern, clean UI with subtle animations**  \n✅ **Dark/light mode support (optional but recommended)**  \n✅ **Clear, high-contrast CTA buttons for better engagement**  \n\n---\n\n## **Output Format**  \n{  \n  \"templateType\": \"product-showcase\",  \n  \"title\": \"SEO-optimized, keyword-rich title\",  \n  \"html\": \"Complete, structured, and mobile-optimized HTML markup for the landing page\"  \n}  \n"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        60,
        780
      ],
      "id": "39ae7db4-0eb3-45b2-88ef-3495252bf738",
      "name": "Product",
      "credentials": {
        "openAiApi": {
          "id": "Vh1Kgy5ShKLBWvw4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Template Choice",
        "height": 980,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "213ec2f5-a8ce-4b0e-aa42-239a410058f5",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "content": "## Template Selection\n",
        "height": 280,
        "width": 500
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -560,
        360
      ],
      "id": "1a1753c5-4c46-4c8f-8430-2fcb4cbae97e",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5bcea241-d553-46ab-b6f4-37e63b030b48",
              "leftValue": "={{ $json.Completed }}",
              "rightValue": "No",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -3120,
        440
      ],
      "id": "7e024e17-12ab-452e-8aef-4b0f1aa5b041",
      "name": "Filter"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-04-07T08:18:54.388Z",
      "updatedAt": "2025-04-07T08:18:54.388Z",
      "id": "neP6fa6igInGwFj1",
      "name": "marketing-automation"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-04-07T09:58:35.000Z",
  "versionId": "640cf589-f05a-4fe9-94cd-f7ae6ca9ddd5"
}