workflows/ooUh39gDHb7fUXA5.json
{
  "active": false,
  "connections": {
    "Link drive folder chứa ảnh": {
      "main": [
        [
          {
            "node": "Filter picture/multi picture",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Google Sheets12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields10": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields12": {
      "main": [
        [
          {
            "node": "Edit Fields10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5min/shot": {
      "main": [
        [
          {
            "node": "Link drive folder chứa ảnh",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter picture/multi picture": {
      "main": [
        [
          {
            "node": "Search multi picture",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Date & Time3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search multi picture": {
      "main": [
        [
          {
            "node": "Convert link id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert link id": {
      "main": [
        [
          {
            "node": "Aggregate multi picture1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Google Sheets13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Filter2": {
      "main": [
        [
          {
            "node": "Loop Over Items4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items4": {
      "main": [
        [],
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets13": {
      "main": [
        [
          {
            "node": "Loop Over Items4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Google Sheets15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets14": {
      "main": [
        [
          {
            "node": "Loop Over Items5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets15": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger2": {
      "main": [
        [
          {
            "node": "Google Sheets14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields11": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive2": {
      "main": [
        [
          {
            "node": "Google Sheets16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets16": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge5": {
      "main": [
        [
          {
            "node": "Loop Over Items5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Edit Fields11",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Drive2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items5": {
      "main": [
        [],
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        [
          {
            "node": "Filter4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Date & Time1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter4": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter5": {
      "main": [
        [
          {
            "node": "Filter6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time1": {
      "main": [
        [
          {
            "node": "Filter5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "(*) Credential Page 1": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "node": "Lựa chọn shop đăng",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "(*) Credential Page 1 (Đăng video)": {
      "main": [
        [
          {
            "node": "(*) Check trạng thái video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "(*) Credential page 1 (Đăng ảnh)": {
      "main": [
        [
          {
            "node": "Google Sheets4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "(*) Check trạng thái video": {
      "main": [
        [
          {
            "node": "Google Sheets3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets3": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "(*) Credential page 1 (Đăng ảnh)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets4": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Phân loại ảnh hay video": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lựa chọn shop đăng": {
      "main": [
        [
          {
            "node": "Phân loại ảnh hay video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter6": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields8": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Facebook Graph API4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Graph API4": {
      "main": [
        [
          {
            "node": "Edit Fields9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields9": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Graph API5": {
      "main": [
        [
          {
            "node": "Google Sheets5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Facebook Graph API5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets5": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "(*) Credential Page ": {
      "main": [
        [
          {
            "node": "Google Drive3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "(*) Credential Page ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "(*) Credential Page 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request8": {
      "main": [
        [
          {
            "node": "Google Sheets17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive3": {
      "main": [
        [
          {
            "node": "(*) Credential Page 1 (Đăng video)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets17": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTTP Request8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets12": {
      "main": [
        [
          {
            "node": "Filter2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate multi picture1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Link drive folder chứa ảnh1": {
      "main": [
        [
          {
            "node": "Date & Time4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Link drive folder chứa ảnh1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert link id1": {
      "main": [
        [
          {
            "node": "Aggregate multi picture2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate multi picture2": {
      "main": [
        [
          {
            "node": "Edit Fields12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time3": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time4": {
      "main": [
        [
          {
            "node": "Convert link id1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-21T16:40:44.915Z",
  "id": "ooUh39gDHb7fUXA5",
  "meta": null,
  "name": "[EMME] Viết Bài đăng ẢNH FB",
  "nodes": [
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "=https://drive.google.com/drive/folders/10THMQY9Wkqs8TLpQINwO-ZVOlxjtWI_2",
            "mode": "url"
          }
        },
        "options": {
          "fields": [
            "*"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -300,
        -760
      ],
      "id": "1a7c3ae7-a504-4a0a-b4c2-6537cbb6039c",
      "name": "Link drive folder chứa ảnh",
      "retryOnFail": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ffj1ktwFjvbRQW9V",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        940,
        -740
      ],
      "id": "f51b7af2-780b-4576-ae0f-3efc8d92544b",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"Ảnh nền\": \"=IMAGE(\\\"{{ $('Link drive folder chứa ảnh').item.json.thumbnailLink }}\\\";4;50;50)\",\n  \"Link ảnh\": \"{{ $('Link drive folder chứa ảnh').item.json.webViewLink }}\",\n  \"Ngày cập nhật driver\": \"{{ $json['Ngày cập nhật driver'] }}\",\n\"Link Folder\": \"https://drive.google.com/drive/folders/{{ $('Filter picture/multi picture').item.json.parents[0] }}\"\n}  ",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        780,
        -740
      ],
      "id": "94dc0fef-a671-45e4-b01c-22b5570c3a67",
      "name": "Edit Fields1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1900,
        -780
      ],
      "id": "d7023c62-9116-4d6f-acb8-c23cd726e5b0",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c9df5a36-a793-4f19-b039-f4bf0737f2fa",
              "leftValue": "={{ $json['Link ảnh'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        2060,
        -780
      ],
      "id": "22d7f9b5-db90-4242-92fd-cb7ee0a72203",
      "name": "Filter1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "=https://docs.google.com/spreadsheets/d/14fM01uaDhGK9_di7HqZbXp5TcvQBZJ2lRPZxy6KWcqQ/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Dashboard",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rHSoI-yfDsIjZ_AV70RTy3c7o4TQGss_1CA4Y1bKgRw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Link ảnh": "={{ $json['Link ảnh'] }}",
            "Ảnh nền": "={{ $json['Ảnh nền'] }}",
            "Ngày cập nhật driver": "={{ $json['Ngày cập nhật driver'] }}",
            "Tạo content": "Tạo content",
            "Prompt": "=Bạn là chuyên gia mạng xã hội và Emme là một brand thời trang công sở. Bạn hãy phân tích dựa vào hình ảnh đính kèm để trả về một bài viết trên nền tảng Facebook phù hợp với các trang phục trong hình của Emme. Bài viết ngắn ngọn và tập trung vào cảm xúc của người đọc nhầm khơi gợi các yếu tố có thể dẫn đến việc tìm hiểu sản phầm kỹ hơn và đưa ra các quyết định mua hàng mà không cần phải nói quá nhiều về sản phẩm và quảng cáo thương hiệu. ",
            "Mục Đích": "Giới thiệu sản phẩm",
            "Link Folder": "={{ $json['Link Folder'] }}"
          },
          "matchingColumns": [
            "Link ảnh"
          ],
          "schema": [
            {
              "id": "Link bài đăng",
              "displayName": "Link bài đăng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Link ảnh",
              "displayName": "Link ảnh",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Link Folder",
              "displayName": "Link Folder",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ảnh nền",
              "displayName": "Ảnh nền",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Acc FB Page",
              "displayName": "Acc FB Page",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tình Trạng",
              "displayName": "Tình Trạng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Giờ đăng bài",
              "displayName": "Giờ đăng bài",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Đăng facebook",
              "displayName": "Đăng facebook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ngày cập nhật driver",
              "displayName": "Ngày cập nhật driver",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Prompt",
              "displayName": "Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Mục Đích",
              "displayName": "Mục Đích",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tạo content",
              "displayName": "Tạo content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Dọn Driver",
              "displayName": "Dọn Driver",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Trạng thái",
              "displayName": "Trạng thái",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2220,
        -780
      ],
      "id": "a9d32103-1ddf-4aae-944e-3e8843094a84",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8050CbIUTPPd5eLC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n    \"Ảnh nền\": \"=IMAGE(\\\"{{ $('Convert link id1').first().json['Ảnh đại diện'] }}\\\";4;50;50)\",\n    \"Ngày cập nhật driver\": \"{{ $('Date & Time4').item.json['Ngày cập nhật driver'] }}\",\n    \"Link Folder\": \"{{ $('Convert link id1').item.json['Link Folder'] }}\"\n}",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1740,
        -960
      ],
      "id": "f764e288-9474-4260-b85c-1029692aae8a",
      "name": "Edit Fields10"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "44ee5d45-6af2-4205-a361-ed018debcf2a",
              "name": "Link ảnh",
              "value": "={{ $json['Link ảnh'] }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1580,
        -960
      ],
      "id": "279201b2-e22b-41c8-8f55-748fd1806716",
      "name": "Edit Fields12"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -500,
        -760
      ],
      "id": "b6a50ebb-2e2e-4938-8631-18c2f032d9f9",
      "name": "5min/shot"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2369eba1-6b68-41a7-be3c-e192e481aeb0",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "folder",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -120,
        -760
      ],
      "id": "be91aaf6-aec0-47a7-b75e-7f14a78aac72",
      "name": "Filter picture/multi picture"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        60,
        -960
      ],
      "id": "be08a280-9758-4f22-9a61-3ecbc70583e1",
      "name": "Search multi picture",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ffj1ktwFjvbRQW9V",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "df489715-964d-4ed7-b311-e44538b0902a",
              "name": "Link ảnh",
              "value": "=https://drive.google.com/file/d/{{ $json.id }}/view",
              "type": "string"
            },
            {
              "id": "89c757b7-fa35-4c56-8ece-1e8c79381f70",
              "name": "Link Folder",
              "value": "=https://drive.google.com/drive/folders/{{ $('Link drive folder chứa ảnh').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        -960
      ],
      "id": "c56d11dc-8768-4945-bd82-e5dbd4cad0d9",
      "name": "Convert link id"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Viết một bài viết facebook marketing hư cấu về chủ đề: {{ $json.Prompt }}\nMục đích: {{ $json['Mục đích'] }}\nLink ảnh: {{ $json['Link ảnh'] }}\n* Lưu ý: Không trả về nội dung có chứa smiley, giải thích, thứ ngày cụ thể và các thông tin yêu cầu cung cấp thêm. Thêm 5 hashtag và #emme",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        2000,
        -560
      ],
      "id": "b51fb552-d253-4d44-921b-dba1a4e63570",
      "name": "Basic LLM Chain1",
      "retryOnFail": true,
      "executeOnce": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-lite-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2020,
        -360
      ],
      "id": "bb92192c-91ee-4bb2-8c4c-c30d52335827",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "fvJxqIkWzbZwR6vj",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"Content\": \"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        2140,
        -360
      ],
      "id": "5a266d5f-0ac1-44f7-af1b-7bd0cb5c3580",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a5ceacde-d695-4971-929e-98369152b145",
              "leftValue": "={{ $json.Prompt }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "253d20a8-01e2-43f6-8f1f-6ad74ee4284b",
              "leftValue": "={{ $json.Content }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1620,
        -560
      ],
      "id": "36d4dc76-a7e3-47b6-b028-b33a1ef293a7",
      "name": "Filter2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1840,
        -560
      ],
      "id": "2c7a61e6-80ad-4505-a3f9-899d98667bdd",
      "name": "Loop Over Items4"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "=https://docs.google.com/spreadsheets/d/14fM01uaDhGK9_di7HqZbXp5TcvQBZJ2lRPZxy6KWcqQ/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Dashboard",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14fM01uaDhGK9_di7HqZbXp5TcvQBZJ2lRPZxy6KWcqQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Link ảnh": "={{ $('Loop Over Items4').item.json['Link ảnh'] }}",
            "Content": "={{ $json.output.Content }}\n______________\n𝑬𝑴𝑴𝑬 | 𝑬𝒎 𝒍𝒂̀ 𝑻𝒐̂𝒊 & 𝑻𝒐̂𝒊 𝒄𝒖̃𝒏𝒈 𝒍𝒂̀ 𝑬𝒎\n▪️ Hotline đặt hàng/hỗ trợ giải quyết đơn hàng: 0775 649499 \n▪️ Phản ánh chất lượng: 087 87 67890\n▪️ Website: https://emme.vn\n▪️ Instagram: instagram.com/emmevietnam\n▪️ Tiktok: https://tiktok.com/@emmevn\n▪️ Shopee: shopee.vn/emmevn\n▪️ Lazada: lazada.vn/emmevn",
            "Tình Trạng": "Chưa Kiểm Tra"
          },
          "matchingColumns": [
            "Link ảnh"
          ],
          "schema": [
            {
              "id": "Link bài đăng",
              "displayName": "Link bài đăng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Link ảnh",
              "displayName": "Link ảnh",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Link Folder",
              "displayName": "Link Folder",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ảnh nền",
              "displayName": "Ảnh nền",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Acc FB Page",
              "displayName": "Acc FB Page",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tình Trạng",
              "displayName": "Tình Trạng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Giờ đăng bài",
              "displayName": "Giờ đăng bài",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Đăng facebook",
              "displayName": "Đăng facebook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ngày cập nhật driver",
              "displayName": "Ngày cập nhật driver",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Prompt",
              "displayName": "Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mục Đích",
              "displayName": "Mục Đích",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tạo content",
              "displayName": "Tạo content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Dọn Driver",
              "displayName": "Dọn Driver",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trạng thái",
              "displayName": "Trạng thái",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2340,
        -560
      ],
      "id": "6d9ef453-dcc4-432c-b92e-18384cd12f6b",
      "name": "Google Sheets13",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8050CbIUTPPd5eLC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $json['[\\'Link ảnh\\']'] }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        4020,
        1640
      ],
      "id": "709fae16-b22d-4545-919d-df09f1d13fe9",
      "name": "Google Drive"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1IB5J55Bl2JfM3mfr6nZUTzdmERm7uS3u6MdJo-wx0As/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Dashboard",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IB5J55Bl2JfM3mfr6nZUTzdmERm7uS3u6MdJo-wx0As/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3380,
        1740
      ],
      "id": "dac7486a-2168-446d-8a3f-12a1a67a282c",
      "name": "Google Sheets14"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1IB5J55Bl2JfM3mfr6nZUTzdmERm7uS3u6MdJo-wx0As/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Dashboard",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IB5J55Bl2JfM3mfr6nZUTzdmERm7uS3u6MdJo-wx0As/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Loop Over Items5').item.json.row_number }}",
            "Trạng thái": "Đã xóa"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Link ảnh",
              "displayName": "Link ảnh",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link video",
              "displayName": "Link video",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ảnh nền",
              "displayName": "Ảnh nền",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Acc FB Page",
              "displayName": "Acc FB Page",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Acc ins",
              "displayName": "Acc ins",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chờ đăng",
              "displayName": "Chờ đăng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Giờ đăng bài",
              "displayName": "Giờ đăng bài",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Đăng facebook",
              "displayName": "Đăng facebook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Đăng instargram",
              "displayName": "Đăng instargram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Dạng đăng FB (video < 60s)",
              "displayName": "Dạng đăng FB (video < 60s)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link bài đăng",
              "displayName": "Link bài đăng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ngày cập nhật driver",
              "displayName": "Ngày cập nhật driver",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Promt",
              "displayName": "Promt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mục đích",
              "displayName": "Mục đích",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tạo content",
              "displayName": "Tạo content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Dọn Driver",
              "displayName": "Dọn Driver",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trạng thái",
              "displayName": "Trạng thái",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        4160,
        1640
      ],
      "id": "aad586ad-4b0a-4efc-b8a1-a26675f5ed21",
      "name": "Google Sheets15",
      "executeOnce": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        3260,
        1740
      ],
      "id": "bdfddc6d-7ea7-4c52-bf1d-6c5fa64a488f",
      "name": "Schedule Trigger2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "563dcfbe-ec60-4bb4-a03d-fe6996248684",
              "name": "Link ảnh",
              "value": "={{ $json['Link ảnh'].parseJson() }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3760,
        1640
      ],
      "id": "5ede3a7c-a468-485a-8197-31b97e2b36e9",
      "name": "Edit Fields11"
    },
    {
      "parameters": {
        "fieldToSplitOut": "['Link ảnh']",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3900,
        1640
      ],
      "id": "b4e1d2e7-e943-400c-bbb3-e09c8c027c95",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $json['Link video'] }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        4020,
        1800
      ],
      "id": "14da1088-c44d-4436-9414-548957ff6cb6",
      "name": "Google Drive2"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1IB5J55Bl2JfM3mfr6nZUTzdmERm7uS3u6MdJo-wx0As/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Dashboard",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IB5J55Bl2JfM3mfr6nZUTzdmERm7uS3u6MdJo-wx0As/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Loop Over Items5').item.json.row_number }}",
            "Trạng thái": "Đã xóa"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Link ảnh",
              "displayName": "Link ảnh",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link video",
              "displayName": "Link video",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ảnh nền",
              "displayName": "Ảnh nền",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Acc FB Page",
              "displayName": "Acc FB Page",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Acc ins",
              "displayName": "Acc ins",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chờ đăng",
              "displayName": "Chờ đăng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Giờ đăng bài",
              "displayName": "Giờ đăng bài",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Đăng facebook",
              "displayName": "Đăng facebook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Đăng instargram",
              "displayName": "Đăng instargram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Dạng đăng FB (video < 60s)",
              "displayName": "Dạng đăng FB (video < 60s)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link bài đăng",
              "displayName": "Link bài đăng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ngày cập nhật driver",
              "displayName": "Ngày cập nhật driver",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Promt",
              "displayName": "Promt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mục đích",
              "displayName": "Mục đích",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tạo content",
              "displayName": "Tạo content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Dọn Driver",
              "displayName": "Dọn Driver",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trạng thái",
              "displayName": "Trạng thái",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        4160,
        1800
      ],
      "id": "fee3b8d8-ebff-44de-b7af-aa3f26cbb872",
      "name": "Google Sheets16"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        4300,
        1720
      ],
      "id": "86f9028a-e2c6-4ac7-927c-3684a78ab9c5",
      "name": "Merge5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "e6553ecc-0e1d-402e-a1c2-692641b7f2e9",
              "leftValue": "={{ $json['Link ảnh'] }}",
              "rightValue": "\"",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3620,
        1740
      ],
      "id": "3fd43707-f3c9-4efa-9787-a3e17427882c",
      "name": "If3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3500,
        1740
      ],
      "id": "f9b71811-8b99-40e6-ad2f-1a93e23f8b16",
      "name": "Loop Over Items5"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "=https://docs.google.com/spreadsheets/d/1oeCzTs4BN3iL2qQq70SldX_CWFMfTVhRQLTeScWQyPg/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Dashboard",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oeCzTs4BN3iL2qQq70SldX_CWFMfTVhRQLTeScWQyPg/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -40,
        900
      ],
      "id": "f3e57864-16f1-4e19-8f9f-01dbc338b6bc",
      "name": "Google Sheets2",
      "retryOnFail": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -200,
        900
      ],
      "id": "2cd92e63-3f6c-4e13-8881-c00e2781ffbd",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "options": {
          "includeInputFields": true,
          "timezone": "UTC+7"
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        440,
        900
      ],
      "id": "741a92d6-2f7a-498c-9097-d0c9b774a160",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "552f6e95-5f6e-4683-b92f-acfcff7be7a7",
              "name": "Giờ đăng bài",
              "value": "={{ $json['Giờ đăng bài'].toDateTime().toUTC().format('yyyyMMddHHmm') }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        280,
        900
      ],
      "id": "b6e00750-0c20-4b71-bf92-4b8f88046832",
      "name": "Edit Fields7"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dee6a864-0de6-4d9f-9fab-7679fb78c3d4",
              "leftValue": "={{ $json['Acc FB Page'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "6727759f-3030-410b-bfc0-5285cf42bda1",
              "leftValue": "={{ $json['Giờ đăng bài'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        120,
        900
      ],
      "id": "8198e182-18dc-43a1-959e-1fe1a3e6f365",
      "name": "Filter4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "83282e42-73e1-4095-b8e4-114d72eb1c69",
              "leftValue": "={{ $('Date & Time').item.json.currentDate.toDateTime().format('yyyyMMddHHmm').toNumber() }}",
              "rightValue": "={{ $('Edit Fields7').item.json['Giờ đăng bài'].toNumber() }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        740,
        900
      ],
      "id": "de3215c5-39f7-42ed-8019-3a347460f252",
      "name": "Filter5"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.currentDate }}",
        "format": "custom",
        "customFormat": "yyyy/MM/dd HH:mm",
        "outputFieldName": "currentDate_Lite",
        "options": {
          "includeInputFields": true
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        580,
        900
      ],
      "id": "55b72a6e-e818-4fe7-9a66-f27052f2b6ca",
      "name": "Date & Time1"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Phân loại ảnh hay video').item.json['Link video'] }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2200,
        1380
      ],
      "id": "688abac0-aa21-47ce-a2de-f4c942afcfd3",
      "name": "Google Drive1"
    },
    {
      "parameters": {
        "hostUrl": "graph-video.facebook.com",
        "httpRequestMethod": "POST",
        "graphApiVersion": "v21.0",
        "node": "me",
        "edge": "video_stories",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "upload_phase",
                "value": "start"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        2060,
        1380
      ],
      "id": "943d47fd-70bb-4170-9f85-63e4cc78275f",
      "name": "(*) Credential Page 1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1260,
        900
      ],
      "id": "933874f8-acb6-4b50-95fe-a293e559956b",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "hostUrl": "graph-video.facebook.com",
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "me",
        "edge": "videos",
        "sendBinaryData": true,
        "binaryPropertyName": "data",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "url",
                "value": "={{ $json.upload_url }}"
              },
              {
                "name": "offset",
                "value": "0"
              },
              {
                "name": "file_size",
                "value": "1121276"
              },
              {
                "name": "video_state",
                "value": "PUBLISHED"
              },
              {
                "name": "description",
                "value": "={{ $('Phân loại ảnh hay video').item.json.Content }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        2340,
        1180
      ],
      "id": "d3a4fe9c-8af1-4875-8a50-48d69ed350fd",
      "name": "(*) Credential Page 1 (Đăng video)"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v21.0",
        "node": "me",
        "edge": "photos",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "={{ $('Loop Over Items2').item.json.Content }}"
              },
              {
                "name": "url",
                "value": "=https://drive.usercontent.google.com/download?id={{ $json['ID picture'] }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        2200,
        980
      ],
      "id": "d4d5465e-983c-43ae-a728-3fc5cdaf5191",
      "name": "(*) Credential page 1 (Đăng ảnh)"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v22.0/{{ $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "status"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2480,
        1180
      ],
      "id": "91e01f58-93c5-4eba-8a99-b8e5c41a09f4",
      "name": "(*) Check trạng thái video"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "=https://docs.google.com/spreadsheets/d/1oeCzTs4BN3iL2qQq70SldX_CWFMfTVhRQLTeScWQyPg/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Dashboard",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Đăng facebook": "Đã đăng",
            "Link video": "={{ $('Phân loại ảnh hay video').item.json['Link video'] }}",
            "Link bài đăng": "=https://www.facebook.com/watch/?v={{ $('(*) Credential Page 1 (Đăng video)').item.json.id }}",
            "Giờ đăng bài": "={{ $('Loop Over Items2').item.json.currentDate_Lite }}"
          },
          "matchingColumns": [
            "Link video"
          ],
          "schema": [
            {
              "id": "Link ảnh",
              "displayName": "Link ảnh",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Link video",
              "displayName": "Link video",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ảnh nền",
              "displayName": "Ảnh nền",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Acc FB Page",
              "displayName": "Acc FB Page",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Acc ins",
              "displayName": "Acc ins",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Chờ đăng",
              "displayName": "Chờ đăng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Giờ đăng bài",
              "displayName": "Giờ đăng bài",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Đăng facebook",
              "displayName": "Đăng facebook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Đăng instargram",
              "displayName": "Đăng instargram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Dạng đăng FB (video < 60s)",
              "displayName": "Dạng đăng FB (video < 60s)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Link bài đăng",
              "displayName": "Link bài đăng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ngày cập nhật driver",
              "displayName": "Ngày cập nhật driver",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Promt",
              "displayName": "Promt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Mục đích",
              "displayName": "Mục đích",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tạo content",
              "displayName": "Tạo content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Dọn Driver",
              "displayName": "Dọn Driver",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Trạng thái",
              "displayName": "Trạng thái",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2620,
        1180
      ],
      "id": "3c6cdf4c-a6a4-4e40-bfc8-dcbecaf0b445",
      "name": "Google Sheets3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "34ecd2d7-6cba-469f-b2ce-e918a3bcd32d",
              "name": "ID picture",
              "value": "={{ $json['Link ảnh'].replace('/view?usp=drivesdk','').replace('https://drive.google.com/file/d/','') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2060,
        980
      ],
      "id": "45281396-892a-4870-8769-6c57b1386879",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1oeCzTs4BN3iL2qQq70SldX_CWFMfTVhRQLTeScWQyPg/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Dashboard",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IB5J55Bl2JfM3mfr6nZUTzdmERm7uS3u6MdJo-wx0As/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Link bài đăng": "=https://www.facebook.com/{{ $json.post_id.replaceAll('_','/posts/') }}",
            "Giờ đăng bài": "={{ $('Loop Over Items2').item.json.currentDate_Lite }}",
            "row_number": "={{ $('Loop Over Items2').item.json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Link ảnh",
              "displayName": "Link ảnh",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link video",
              "displayName": "Link video",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ảnh nền",
              "displayName": "Ảnh nền",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Acc FB Page",
              "displayName": "Acc FB Page",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Acc ins",
              "displayName": "Acc ins",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chờ đăng",
              "displayName": "Chờ đăng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Giờ đăng bài",
              "displayName": "Giờ đăng bài",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Đăng facebook",
              "displayName": "Đăng facebook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Đăng instargram",
              "displayName": "Đăng instargram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Dạng đăng FB (video < 60s)",
              "displayName": "Dạng đăng FB (video < 60s)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link bài đăng",
              "displayName": "Link bài đăng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ngày cập nhật driver",
              "displayName": "Ngày cập nhật driver",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Promt",
              "displayName": "Promt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mục đích",
              "displayName": "Mục đích",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tạo content",
              "displayName": "Tạo content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Dọn Driver",
              "displayName": "Dọn Driver",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trạng thái",
              "displayName": "Trạng thái",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2340,
        980
      ],
      "id": "09ad03af-69e3-4a0c-8a77-a15cb5e0ba4e",
      "name": "Google Sheets4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "236feb47-1c9c-4c76-8cb8-ede9aa9ab8b5",
              "leftValue": "={{ $json['Link ảnh'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "49b3a6fb-dfbd-4767-93bc-74b75babe2ec",
              "leftValue": "={{ $json['Link video'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1640,
        900
      ],
      "id": "2c7a2a39-ddb1-4c8a-9e08-e2bf21df1dba",
      "name": "Phân loại ảnh hay video"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['Acc FB Page'] }}",
                    "rightValue": "emmevnm",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "53cbf7d2-8315-4313-ac3e-05095d345bed"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "emmevnm"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "15d28a77-d39d-4b87-87d3-d4e57afcf4bf",
                    "leftValue": "={{ $json['Acc FB Page'] }}",
                    "rightValue": " viu_store",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": " viu_store"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1440,
        900
      ],
      "id": "e5461f1f-6966-4223-8e3f-4beb2d871064",
      "name": "Lựa chọn shop đăng"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8e2c57d5-fa2a-4cc8-a81e-47b4c073ebeb",
              "leftValue": "={{ $json['Acc FB Page'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "0614ec80-9514-4bc6-bfd0-075eb95a01c4",
              "leftValue": "={{ $json['Đăng facebook'] }}",
              "rightValue": "Đã đăng",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1020,
        900
      ],
      "id": "0a8611da-9f53-4862-b93c-95a7ced3f889",
      "name": "Filter6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "33b40ce5-16eb-400e-aa85-5d641f6501a0",
              "leftValue": "={{ $json['Link ảnh'].extractUrl() }}",
              "rightValue": "=\"]",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1840,
        800
      ],
      "id": "37bd04f1-f1bd-484e-b612-a64d334701c0",
      "name": "If1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c0946e3d-e00d-44ef-9af4-447f24181fee",
              "name": "Link ảnh",
              "value": "={{ $json['Link ảnh'].replaceAll('https://drive.google.com/file/d/','https://drive.usercontent.google.com/u/0/uc?id=').replaceAll('/view','&export=download') }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2040,
        780
      ],
      "id": "85c82710-7ff7-46e3-b04e-5ea3a573be05",
      "name": "Edit Fields8"
    },
    {
      "parameters": {
        "fieldToSplitOut": "['Link ảnh']",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2200,
        780
      ],
      "id": "0ec376f3-5f48-4bf7-8fc0-87572ac252eb",
      "name": "Split Out"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "me",
        "edge": "photos",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "url",
                "value": "={{ $json['[\\'Link ảnh\\']'] }}"
              },
              {
                "name": "published",
                "value": "false"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        2340,
        780
      ],
      "id": "70a47602-8591-42e9-9a8f-3544481525f6",
      "name": "Facebook Graph API4",
      "credentials": {
        "facebookGraphApi": {
          "id": "EDzCZeGfVexNotnz",
          "name": "Facebook Emme Design"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7e90d32e-e12d-4b42-b380-a1632149657a",
              "name": "ID ảnh",
              "value": "={\"media_fbid\":\"{{ $json.id }}\"}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2480,
        780
      ],
      "id": "1b352c12-80f1-44ce-ae64-05f7b6f663d1",
      "name": "Edit Fields9"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "me",
        "edge": "feed",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "={{ $('Loop Over Items2').item.json.Content }}"
              },
              {
                "name": "attached_media",
                "value": "={{ $json['ID ảnh'].toJsonString() }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        2800,
        780
      ],
      "id": "087db41e-a011-427f-b5fc-8e426471c2ec",
      "name": "Facebook Graph API5",
      "executeOnce": true,
      "credentials": {
        "facebookGraphApi": {
          "id": "EDzCZeGfVexNotnz",
          "name": "Facebook Emme Design"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "ID ảnh"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2640,
        780
      ],
      "id": "6545ab85-f8f4-4ade-9fab-c7b280236f60",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1oeCzTs4BN3iL2qQq70SldX_CWFMfTVhRQLTeScWQyPg",
          "mode": "list",
          "cachedResultName": "TestPost FB Vince",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oeCzTs4BN3iL2qQq70SldX_CWFMfTVhRQLTeScWQyPg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Dashboard",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oeCzTs4BN3iL2qQq70SldX_CWFMfTVhRQLTeScWQyPg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Link ảnh": "={{ $('Loop Over Items2').item.json['Link ảnh'] }}",
            "Giờ đăng bài": "={{ $('Loop Over Items2').item.json.currentDate_Lite }}"
          },
          "matchingColumns": [
            "Link ảnh"
          ],
          "schema": [
            {
              "id": "Link ảnh",
              "displayName": "Link ảnh",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Link video",
              "displayName": "Link video",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ảnh nền",
              "displayName": "Ảnh nền",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Acc FB Page",
              "displayName": "Acc FB Page",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Acc ins",
              "displayName": "Acc ins",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chờ đăng",
              "displayName": "Chờ đăng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Giờ đăng bài",
              "displayName": "Giờ đăng bài",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Đăng facebook",
              "displayName": "Đăng facebook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Đăng instargram",
              "displayName": "Đăng instargram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Dạng đăng FB (video < 60s)",
              "displayName": "Dạng đăng FB (video < 60s)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link bài đăng",
              "displayName": "Link bài đăng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ngày cập nhật driver",
              "displayName": "Ngày cập nhật driver",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Promt",
              "displayName": "Promt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mục đích",
              "displayName": "Mục đích",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tạo content",
              "displayName": "Tạo content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Dọn Driver",
              "displayName": "Dọn Driver",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trạng thái",
              "displayName": "Trạng thái",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2960,
        780
      ],
      "id": "ed0ba222-69ba-43b4-aee3-f713ff8c2a5a",
      "name": "Google Sheets5",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8050CbIUTPPd5eLC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3000,
        1160
      ],
      "id": "c61e9766-5d8f-4855-a1ec-14a7bae6ae02",
      "name": "Merge2"
    },
    {
      "parameters": {
        "hostUrl": "graph-video.facebook.com",
        "httpRequestMethod": "POST",
        "graphApiVersion": "v21.0",
        "node": "me",
        "edge": "video_reels",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "upload_phase",
                "value": "start"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        2060,
        1180
      ],
      "id": "5876f851-51e3-4d1a-865b-f149179a2d79",
      "name": "(*) Credential Page "
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fed1b110-81a0-4631-affe-952fc824e2aa",
                    "leftValue": "={{ $json['Dạng đăng FB (video < 60s)'] }}",
                    "rightValue": "Reels",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Reels"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['Dạng đăng FB (video < 60s)'] }}",
                    "rightValue": "Stories",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "940e74d5-b94c-4e2f-9a36-bfb0a9834849"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Stories"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1840,
        1200
      ],
      "id": "de6c8172-baf9-4d43-a600-97492f9895ab",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.upload_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "offset",
              "value": "0"
            },
            {
              "name": "file_size",
              "value": "9579734"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2340,
        1380
      ],
      "id": "51cfaf42-3fa8-4315-9aa8-cc5f94f7e41b",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/ 105572255141755/video_stories",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "video_id",
              "value": "={{ $('Google Drive1').item.json.video_id }}"
            },
            {
              "name": "upload_phase",
              "value": "finish"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2620,
        1380
      ],
      "id": "4b01fec7-2b44-468a-b619-35dbb2b1be9b",
      "name": "HTTP Request8"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Phân loại ảnh hay video').item.json['Link video']}}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2200,
        1180
      ],
      "id": "cb805cd8-dae5-439b-8d09-d8c192456dc9",
      "name": "Google Drive3"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1oeCzTs4BN3iL2qQq70SldX_CWFMfTVhRQLTeScWQyPg/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Dashboard",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rHSoI-yfDsIjZ_AV70RTy3c7o4TQGss_1CA4Y1bKgRw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Switch').item.json.row_number }}",
            "Đăng facebook": "Đã đăng",
            "Link bài đăng": "=https://www.facebook.com/stories/105525671575429"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Link ảnh",
              "displayName": "Link ảnh",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link video",
              "displayName": "Link video",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ảnh nền",
              "displayName": "Ảnh nền",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Acc FB Page",
              "displayName": "Acc FB Page",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Acc ins",
              "displayName": "Acc ins",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chờ đăng",
              "displayName": "Chờ đăng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Giờ đăng bài",
              "displayName": "Giờ đăng bài",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Đăng facebook",
              "displayName": "Đăng facebook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Đăng instargram",
              "displayName": "Đăng instargram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Dạng đăng FB (video < 60s)",
              "displayName": "Dạng đăng FB (video < 60s)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Link bài đăng",
              "displayName": "Link bài đăng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ngày cập nhật driver",
              "displayName": "Ngày cập nhật driver",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Promt",
              "displayName": "Promt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mục đích",
              "displayName": "Mục đích",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tạo content",
              "displayName": "Tạo content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Dọn Driver",
              "displayName": "Dọn Driver",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trạng thái",
              "displayName": "Trạng thái",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2780,
        1380
      ],
      "id": "5ace010b-5d54-4b93-bfb1-07295c491168",
      "name": "Google Sheets17"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v22.0/{{ $('(*) Credential Page 1').item.json.video_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "status"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2480,
        1380
      ],
      "id": "40c12426-61d1-43c4-8b3e-9ef7ad9fa27f",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "=https://docs.google.com/spreadsheets/d/14fM01uaDhGK9_di7HqZbXp5TcvQBZJ2lRPZxy6KWcqQ/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Dashboard",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14fM01uaDhGK9_di7HqZbXp5TcvQBZJ2lRPZxy6KWcqQ/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1440,
        -560
      ],
      "id": "1368213f-7acc-4189-85a9-ffdb3ccc97e8",
      "name": "Google Sheets12",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8050CbIUTPPd5eLC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json['[\\'Link Folder\\']'] }}",
            "mode": "url"
          }
        },
        "options": {
          "fields": [
            "*"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        940,
        -960
      ],
      "id": "65d708d5-9e37-4f24-973f-39db199bb7c3",
      "name": "Link drive folder chứa ảnh1",
      "retryOnFail": true,
      "executeOnce": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ffj1ktwFjvbRQW9V",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Link Folder"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        340,
        -960
      ],
      "id": "b1a02aa0-30d8-4501-8eef-ec52170603c6",
      "name": "Aggregate multi picture1"
    },
    {
      "parameters": {
        "jsCode": "function processInput(input) {\n  for (const item of input.all()) {\n    \n    if (item.json['Link Folder']) {\n      const linkFolder = item.json['Link Folder'];\n      const uniqueLinks = [];\n      const seen = {}; // Đối tượng để theo dõi các giá trị đã xuất hiện\n\n      for (const link of linkFolder) {\n        if (!seen[link]) {\n          uniqueLinks.push(link);\n          seen[link] = true;\n        }\n      }\n\n      item.json['Link Folder'] = uniqueLinks;\n    }\n  }\n\n  return input.all();\n}\n\nreturn processInput($input);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        -960
      ],
      "id": "a9e6aa19-3abc-48a9-9df7-34677a5a199d",
      "name": "Code"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        780,
        -960
      ],
      "id": "8b39bb7e-1cbd-4b00-bbc4-e4e0d0223803",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "fieldToSplitOut": "=['Link Folder']",
        "options": {}
      },
      "id": "93263d2e-6da1-49b1-91c2-67e063917ee1",
      "name": "Split Out2",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        620,
        -960
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "df489715-964d-4ed7-b311-e44538b0902a",
              "name": "Link ảnh",
              "value": "=https://drive.google.com/file/d/{{ $('Link drive folder chứa ảnh1').item.json.id }}/view",
              "type": "string"
            },
            {
              "id": "89c757b7-fa35-4c56-8ece-1e8c79381f70",
              "name": "Link Folder",
              "value": "={{ $('Split Out2').item.json['[\\'Link Folder\\']'] }}",
              "type": "string"
            },
            {
              "id": "0b57b4ea-6c4f-4ec7-9f14-710955be97b6",
              "name": "Ảnh đại diện",
              "value": "={{ $('Link drive folder chứa ảnh1').item.json.thumbnailLink }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1260,
        -960
      ],
      "id": "5d5b7295-f1b1-49c9-b241-825d4e21d880",
      "name": "Convert link id1"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Link ảnh"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1420,
        -960
      ],
      "id": "859acee3-97c7-4c66-8b97-e91c0e0504c2",
      "name": "Aggregate multi picture2"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Link drive folder chứa ảnh').item.json.createdTime }}",
        "format": "custom",
        "customFormat": "yyyy/MM/dd HH:mm:ss",
        "outputFieldName": "Ngày cập nhật driver",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        380,
        -740
      ],
      "id": "fe27a798-6c99-4e21-900b-71898cf533c4",
      "name": "Date & Time3",
      "executeOnce": false
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.createdTime }}",
        "format": "custom",
        "customFormat": "yyyy/MM/dd HH:mm:ss",
        "outputFieldName": "Ngày cập nhật driver",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1100,
        -960
      ],
      "id": "d8fe699c-4f3d-4bef-84e1-61f5134f17bd",
      "name": "Date & Time4",
      "executeOnce": true
    }
  ],
  "pinData": {
    "Schedule Trigger1": [
      {
        "json": {
          "timestamp": "2025-02-27T11:36:08.002-05:00",
          "Readable date": "February 27th 2025, 11:36:08 am",
          "Readable time": "11:36:08 am",
          "Day of week": "Thursday",
          "Year": "2025",
          "Month": "February",
          "Day of month": "27",
          "Hour": "11",
          "Minute": "36",
          "Second": "08",
          "Timezone": "America/New_York (UTC-05:00)"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-03-31T19:08:09.000Z",
  "versionId": "8476c5c9-d104-4e91-999d-16074c6d0ed2"
}